<%-include("partials/header")%>
<div class="container about" >
	<header class="entry-header"><h1 class="entry-title" style="text-align: center;">About Us</h1></header>
	<div class="transbox">
		<p> All the information available in this site is strictly made available only for the internal use of students and faculty of  CSE and IT  departments of Graphic Era University, who deems fit to use it, for easy access of information. The content of this site is purely informational and has no legal value, hence the matter cannot be cited in a court of law. This site does not contain any privileged, confidential or restricted information and contain very generic information only. The information does not necessarily represent the official position of the University and in no way alter or prejudice the actual provisions of the University Ordinances and other rules and regulations framed from time to time. No individual, Official or any Department should infer any meaning from any content/ information of this site. This page is maintained by some members of the Department as a personal hobby. This site is not registered or hosted by Graphic Era University or any of its authorized third party, it is registered in the personal capacity of an individual only. The site may not represent accurate information, all the users are advised to check official channels before using any information. This is not an official page, all official information can be accessed at Department/University Notice Boards or at <a href="http://www.geu.ac.in/" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.geu.ac.in&amp;source=gmail&amp;ust=1491372970191000&amp;usg=AFQjCNGU-ah3G4462kIcn4zSilPe6AhdEQ">www.geu.ac.in</a></p>
  </div>
			
</div>

<%-include("partials/footer")%>