<%-include("partials/header")%>
<center>
<div class="container contact">
	<header class="entry-header"><h1 class="entry-title" style="padding:20px">Contact us</h1></header>
	<div class="transbox">
		<p>Dr. Devesh Pratap Singh<br />
Department of Computer Science and Engineering<br />
Head of Department</p>
<p>Email: devesh.geu@gmail.com</p>
<p>Ph: +91-135-2643421-288</p>
	</div>
</div>
</center>
<%-include("partials/footer")%>