<%-include("partials/header")%>
<div class="transbox">
<h1 class="entry-title" style="text-align:center;">Notices</h1>
<div class="container"  style="text-align: center">
	<div>
	  <ul class="no-bullets">
	   <li><a href='notices/nov'>November 2020</a>&nbsp;(2)</li>
	   <li><a href='notices/oct'>October 2020</a>&nbsp;(2)</li>
	   <li><a href='notices/sept'>September 2020</a>&nbsp;(6)</li>
	   <li><a href='notices/aug'>August 2020</a>&nbsp;(2)</li>
	   <li><a href='notices/july'>July 2020</a>&nbsp;(9)</li>
	   <li><a href='notices/june'>June 2020</a>&nbsp;(15)</li>
	   <li><a href='notices/may'>May 2020</a>&nbsp;(14)</li>
	   <li><a href='notices/april'>April 2020</a>&nbsp;(2)</li>
	   <li><a href='notices/march'>March 2020</a>&nbsp;(17)</li>
	   <li><a href='notices/feb'>February 2020</a>&nbsp;(9)</li>
	   <li><a href='notices/jan'>January 2020</a>&nbsp;(22)</li>
	 </ul>
	</div>
</div>
</div>
<%-include("partials/footer")%>