<%- include("partials/header") %>
<div class="transbox">
<header class="entry-header"><h1 class="entry-title" style="text-align: center;">Syllabus: All Semester</h1></header>
<!-- <h1 class="entry-title" style="text-align:center;"><a href="syllabus/" rel="bookmark">Syllabus: All Semester</a></h1> -->
<div class="container"  style="text-align: center">
	<div class="entry-content">
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20IT.pdf">Syllabus IT</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20CST.pdf">Syllabus CST</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20CSE.pdf">syllabus CSE</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/Syllabus%20CSE%20Specialization.pdf">Syllabus CSE Specialization</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20CSE%20IBM%20ML%20.pdf">Syllabus CSE IBM ML</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20CSE%20IBM%20DS%20and%20AI.pdf">Syllabus CSE IBM DS and AI</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20CSE%20IBM%20CC.pdf">Syllabus CSE IBM CC</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20CE.pdf">Syllabus CE</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/syllabus%20CE%20SE.pdf">Syllabus CE SE</a></p>
		<hr>
	<p><a href="https://csitgeu.in/Syllabus2020/M.Tech%20syllabus.pdf">M.Tech syllabus</a></p>
		<hr>
	<p>&nbsp;</p>
</div>
</div>
</div>
<%-include("partials/footer") %>