<%-include("partials/header")%>
<div class="container vission">
	<header class="entry-header"><h1 class="entry-title" style="text-align: center;">Vision and Mission</h1></header>
<div class="transbox">
<!-- <p>&nbsp;</p> -->
<p style="text-align: center"><strong>Vision and Mission of the Computer Science and Engineering Department</strong></p>
<p><strong>Vision </strong></p>
<hr class="line">
<p>To impart quality education for producing highly talented globally recognizable technocrats and entrepreneurs with sound ethics, latest knowledge and innovative ideas in Computer Science and Engineering to meet industrial needs and societal expectations.</p>
<p><strong>Mission </strong></p>
<hr class="line">
<ul>
<li>To impart high standard value based technical education in all aspects of Computer Science and Engineering through state of the art infrastructure and innovative approach.</li>
<li>To produce ethical, motivated and skilled engineers through theoretical knowledge and practical applications.</li>
<li>To impart the ability for tackling simple to complex problems individually as well as in a team..</li>
<li>To develop globally competent engineers with strong foundations, capable of “out of the box” thinking so as to adapt to the rapidly changing scenarios requiring social conscious green computing solutions.</li>
</ul>
</div>
</div>

<%-include("partials/footer")%>