<%-include("../partials/header")%>
<div class="transbox">
<article id="post-2128" class="post-2128 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Mid-Term Make Up Examinations</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-04-26T18:11:50+05:30">April 26, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Mid-Term Make Up Examinations</u></strong></p>
<p>The mid-term make up theory examinations for all the students who have filled the forms is tentatively scheduled from Monday, 4<sup>th</sup> May 2020. The examination will be done in online mode and will consist of two parts- a written part and a presentation part.</p>
<p>The exact details with the question papers and presentation topics will be displayed on the day of commencement. Students who have filled the forms are advised to remain prepared for the same.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2128 -->

<article id="post-2126" class="post-2126 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Online Internship Opportunity for Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-04-15T18:41:19+05:30">April 15, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Online Internship Opportunity for Students</u></strong></p>
<p>Considering the current situation, and its effect on the internship/placement of the students Internshala &#8211; &#8216;internship partner of AICTE&#8217; have launched &#8216;<strong>Chalo India, Let&#8217;s Work from Home</strong>&#8216; initiative. Through this, all the students of Graphic Era Deemed To Be University, can utilize their time to do work from home internships while practicing socìal distancing.</p>
<p><strong>A few highlights </strong>&#8211;</p>
<ul>
<li>12,000+ virtual/online internships to choose from, with stipend and certificate</li>
<li>Internships in all the categories like engineering, management, graphic design, and many more</li>
<li>Maximum stipend offered is Rs. 30,000 per month</li>
</ul>
<p>Students can visìt here to apply now &#8211;<strong> </strong><a href="https://em.internshala.com/link.php?M=252355097&amp;N=22261&amp;L=19621&amp;F=H"><strong>internshala.com/i/VI-7620</strong></a>.</p>
<p>Eligibility &#8211; All the students (1st year to fìnal year) from all streams/branches are eligible to apply for these internships. However, students of 6<sup>th</sup> semester are particularly advised to apply as Internship is compulsory for them and part of the curriculum.</p>
<p><strong>The registrations have already begun and the last date to apply is 19th April. Also, there is no registration fee involved at all.</strong></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2126 -->
</div>
<%-include("../partials/footer")%>