<%-include("../partials/header")%>
<div class="transbox">
<article id="post-2284" class="post-2284 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Notice: Filling of Internship Information</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-08-22T12:47:38+05:30">August 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p>All the students are hereby informed that they are compulsorily required to fill the information about internships they have undertaken or currently undertaking.</p>
<p>3<sup>rd</sup> and 5<sup>th</sup> semester students: Submit the information about any internship you have done in the preceding academic year till date (anytime between July 2019 till date). This information is required for inserting in your academic records as per new AICTE guidelines.</p>
<p>7<sup>th</sup> Sem students: All students who did not fill the information as per previous notice are required to compulsorily fill the information. Failure to fill the information will result in ABSENT in Internship. Students who have already filled the information are not required to fill it again.</p>
<p>The internship information can be filled in the following link. The last day is Wed, 26 August, 2020.</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf72XfBueztrat68-pE-CiBdr1T2E85ixLb1WFpsLi32yjViQ/viewform?vc=0&amp;c=0&amp;w=1&amp;flr=0">https://docs.google.com/forms/d/e/1FAIpQLSf72XfBueztrat68-pE-CiBdr1T2E85ixLb1WFpsLi32yjViQ/viewform?vc=0&amp;c=0&amp;w=1&amp;flr=0</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2284 -->

<article id="post-2279" class="post-2279 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Webinar on &#8220;Introduction and Benefits of NIDHI-EIR and NIDHI-PRAYAS&#8221; for students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-08-11T16:52:58+05:30">August 11, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h2 id=":mx" class="hP" tabindex="-1" data-thread-perm-id="thread-f:1674719085906212305" data-legacy-thread-id="173dcc22b601b5d1"><a href="http://csitgeu.in/wp/wp-content/uploads/2020/08/webinar1.html">Webinar on &#8220;Introduction and Benefits of NIDHI-EIR and NIDHI-PRAYAS&#8221; for students</a></h2>
<div id=":o6" class="pG" role="img" data-tooltip-contained="true" data-tooltip-align="b,l" data-tooltip-delay="1500" aria-label="Important according to Google magic."></div>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2279 -->
</div>
<%-include("../partials/footer")%>