<%-include("../partials/header") %>
<div class="transbox">
<article id="post-2073" class="post-2073 post type-post status-publish format-standard hentry category-latest">
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Cognizant Think Equal Contest for 2021 passing out batch</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-29T16:13:54+05:30">February 29, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Cognizant Think Equal Contest for 2021 passing out batch</u></strong></p>
<p>Cognizant is organizing Think Equal contest, an idea challenge for students of passing out batch of 2021 to share ideas on how, we as a community, can collectively promote equality. The students can submit their idea for Round 1 between February 28 to March 2, 2020. Shortlisted participants for Round 2 will be notified via email. Participants in Round 2 will need to send in a presentation elaborating on their idea. Presentations for Round 2 can be submitted between March 4 to March 6, 2020.</p>
<p>There are exciting prizes for the winners.</p>
<p>Registration Link and details can be found in the following url”</p>
<p><a href="http://hr.gs/cognizantthinkequal2020">http://hr.gs/cognizantthinkequal2020</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2073 -->

<article id="post-2071" class="post-2071 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Supplementary Practical Exam Schedule March 2020</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-26T16:20:20+05:30">February 26, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Supplementary/Debarred Practical Exam FEB-MARCH 2020</strong></p>
<p>It is hereby informed to all students of CSE/IT that their supplementary/ Debarred Practical exam will be held as per the following schedule. Students are advised to come with their admit cards. For any query contact to the concern faculty member.</p>
<table border="1">
<tbody>
<tr>
<td width="198"><strong>Lab Name and Code</strong></td>
<td width="132"><strong>Date and Time</strong></td>
<td width="138"><strong>Concern Faculty Member</strong></td>
<td width="156"><strong>Contact No.</strong></td>
</tr>
<tr>
<td width="198">Software Engineering Lab (PCS510)</td>
<td width="132">05 March 2020</p>
<p>09:00 AM onwards</td>
<td width="138">Ms. Akansha Gupta</td>
<td width="156">7017536952</td>
</tr>
<tr>
<td width="198">Operating System Lab (PCS506)</td>
<td width="132">06 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Dr. Vikas Tripathi</td>
<td width="156">9634596042</td>
</tr>
<tr>
<td width="198">Mini Project (CSP501)</td>
<td width="132">05 March 2020</p>
<p>09:00 AM onwards</td>
<td width="138">Dr. Vijay Singh</td>
<td width="156">9760322316</td>
</tr>
<tr>
<td width="198">Database Management Systems Lab (PCS503)</td>
<td width="132">06 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Dr. Manoj Diwaker</td>
<td width="156">8077231539</td>
</tr>
<tr>
<td width="198">Design and Analysis of Algorithms Lab (PCS505)</td>
<td width="132">05 March 2020</p>
<p>09:00 AM onwards</td>
<td width="138">Mr. Prabhjot Singh</td>
<td width="156">7755057882</td>
</tr>
<tr>
<td width="198">Logic Design Lab(PCS301)</td>
<td width="132">02 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Mr. Hemant Singh Pokhariya</td>
<td width="156">9634749537</td>
</tr>
<tr>
<td width="198">OOPS with C++ Lab (PCS307)</td>
<td width="132">03 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Mr. Kireet Joshi</td>
<td width="156">7500275404</td>
</tr>
<tr>
<td width="198">Cloud Based Application Development &amp; Management Lab (PCS552)</td>
<td width="132">05 March 2020</p>
<p>09:00 AM onwards</td>
<td width="138">Dr. Sachin Sharma</td>
<td width="156">8319682981</td>
</tr>
<tr>
<td width="198">Mini Project (CSP301)</td>
<td width="132">02 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Mr. Vikash Tomer</td>
<td width="156">7060734224</td>
</tr>
<tr>
<td width="198">Database Management Systems Lab (PCS362)</td>
<td width="132">03 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Ms. Parul Madan</td>
<td width="156">9557840852</td>
</tr>
<tr>
<td width="198">Data Structures Lab (PCS302)</td>
<td width="132">02 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Mr. Upendra Aswal</td>
<td width="156">8077915512</td>
</tr>
<tr>
<td width="198">Java Programming Lab (PIT508)</td>
<td width="132">06 March 2020</p>
<p>09:00 AM onwards</td>
<td width="138">Mr. Sanjeev Kukreti</td>
<td width="156">9997226690</td>
</tr>
<tr>
<td width="198">Web Technology Lab (PIT303)</td>
<td width="132">02 March 2020</p>
<p>01 PM onwards</td>
<td width="138">Mr. Manish Sharma</td>
<td width="156">9634432297</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2071 -->

<article id="post-2069" class="post-2069 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Major Project Mid Sem Progress Evaluation for 8th Sem</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-26T16:18:19+05:30">February 26, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p>&nbsp;</p>
<p><strong><u>Notice: Major Project Mid Sem Progress Evaluation for 8<sup>th</sup> Sem</u></strong></p>
<p>Students of 8<sup>th</sup> semester are hereby informed that their mid-term progress evaluation of final year major project will be held on 6<sup>th</sup> and 7<sup>th</sup> March, 2020.</p>
<p>The evaluation for students who have joined an organization after obtaining an NOC from the Department and those students who are undergoing modules of Cognizant, Capegemini and TCS will be held at a later date.</p>
<p>All other students other than the above mentioned students are required to submit the project status form (available from the below link latest by Monday, 2<sup>nd</sup> March to Mr Vivekanand so that their evaluation can be scheduled. Students who fail to submit the same other than the above mentioned students will be marked ABSENT in their mid-term project marks.</p>
<p><a href="http://csitgeu.in/wp/btp8mid1.docx">http://csitgeu.in/wp/btp8mid1.docx</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2069 -->

<article id="post-2065" class="post-2065 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Submission of GATE2020 admit card copy for 8th Sem students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-25T00:50:26+05:30">February 25, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Submission of GATE2020 admit card copy for 8<sup>th</sup> Sem students</u></strong></p>
<p>As per record available at the Department the following students had applied for GATE 2020 exam.</p>
<p><a href="http://www.csitgeu.in/wp/gate1920.xlsx">www.csitgeu.in/wp/gate1920.xlsx</a> (List of students available in this link)</p>
<p>The students are directed to submit a copy of the GATE admit card at HoD’s office (to Mr Vivekanand) latest by Thursday, 27 Feb to obtain benefit of attendance during the exam period. Failure to submit the same will result in marked ABSENT during the preceding week of GATE exam and no representation will be entertained later on regarding attendance.</p>
<p>Any other student who appeared for GATE 2020 but their name is not in the list is also directed to do the same.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2065 -->

<article id="post-2060" class="post-2060 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Viva of Defaulter Students of 6th Semester-Updated</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-18T19:55:56+05:30">February 18, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Viva of Defaulter Students of 6<sup>th</sup> Semester</u></strong></p>
<p>The following students of 6<sup>th</sup> semester are hereby directed to appear for a comprehensive viva (of all subjects of the current semester) as per the following schedule as their performance has not been found to be satisfactory in ADS term work and hence their performance in other subjects need to be assessed.</p>
<p>Date: Wednesday, 19<sup>th</sup> February<br />
Time: 5:00 PM onwards, report at the Department</p>
<ol>
<li>CHINTAN TUTLANI (Sec-C, 20)</li>
<li>ZAID (Sec-D, 32)</li>
<li>AMIT BISHT (Sec-A, 12)</li>
<li>PRANSHU PANDEY (Sec-C, 45)</li>
<li>HARSHIT NAUTIYAL (Sec-C, 32)</li>
<li>MOHD ASIF TYAGI (Sec-C, 31)</li>
<li>DIVYANSH LAKHERA (Sec-A, 37)</li>
<li>ANSH JAIN (Sec-C, 10)</li>
<li>ROHAN PANDEY (Sec-C, 56)</li>
<li>PRANJAL SAXENA (Sec-B, 38)</li>
<li>CHANDRIMA KUNDU (sec-E, 6)</li>
</ol>
<p>The students are advised to inform their parents / guardians about their late staying in the college.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2060 -->

<article id="post-2058" class="post-2058 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: 8th sem students undergoing TCS XPLORE 2020 program</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-17T20:16:40+05:30">February 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><u>Notice: 8<sup>th</sup> sem students undergoing TCS XPLORE 2020 program</u></p>
<p>All students of 8th semester who are undergoing the online TCS XPLORE 2020 program are hereby informed to submit an application at the Office of Head of Department (to Mr Vivekanand) stating that they are undergoing the program.</p>
<p>Students who have already submitted the application may ignore this.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2058 -->

<article id="post-2040" class="post-2040 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Debarred Time Table For B.Tech(CSE/IT) IIIrd, Vth and VIIth Semester</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-10T10:13:55+05:30">February 10, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p>Debarred Time Table For B.Tech(CSE/IT) IIIrd, Vth and VIIth Semester</p>
<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/02/Debarred-Time-Table-For-IIIrd-Vth-and-VIIth-Semester-10-02-2020.html">Debarred Time Table For IIIrd, Vth and VIIth Semester-10-02-2020</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2040 -->

<article id="post-2034" class="post-2034 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: ADS classes for 6th Sem CSE Students by Hon’ble President Sir</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-08T15:11:23+05:30">February 8, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h1><span style="color: #800000;"><strong><u>Notice: ADS classes for 6<sup>th</sup> Sem CSE Students by Hon’ble President Sir</u></strong></span></h1>
<p><span style="color: #000080;"><strong>All students of 6<sup>th</sup> Semester CSE (All the sections-A, B, C, D,E) are hereby informed that Hon’ble President Sir will take classes of Advanced Data Structures (as part of DAA course) as per the following schedule. All students are strictly advised to remain present in the classes.</strong></span></p>
<p><span style="color: #000080;"><strong>Class Days: Every Monday and Tuesday, starting from Monday, 10 Feb 2020</strong></span></p>
<p><span style="color: #000080;"><strong>Time: 11.00 AM</strong></span></p>
<p><span style="color: #000080;"><strong>Class Venue: BTech Block- LT2</strong></span></p>
<p><span style="color: #000080;"><strong>Students are advised to be seated in classroom strictly five minutes before class start time and irrespective of the time-table displayed, which is being updated.</strong></span></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2034 -->

<article id="post-2031" class="post-2031 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Notice: Samsung R&#038;D Placement Preparation Class</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-02-05T16:20:53+05:30">February 5, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Samsung R&amp;D Placement Preparation Class</u></strong></p>
<p>The following students are eligible for Samsung R&amp;D test for which they have already received communication on individual mail from Training &amp; Placement Department.</p>
<p>In this connection a preparatory class is scheduled on Thursday, 6<sup>th</sup> February at 2 PM which will be taken by CEC cell. All eligible students are advised to compulsorily attend the session.</p>
<p>Some of the students may be busy with preparing for GATE examination. As this is a great career opportunity provided by Samsung R&amp;D it is expected that the students will spare some 3 hours for the preparatory session.</p>
<p>For any issues contact Ashish Garg of CEC.</p>
<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/02/samsung_plct.html">Samsung_Student_List</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2031 -->
</div>
<%-include("../partials/footer") %>