<%-include("../partials/header") %>
<div class="transbox">
<article id="post-2028" class="post-2028 post type-post status-publish format-standard hentry category-latest">
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Super-Placement Batch for 2021</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-31T13:22:13+05:30">January 31, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p>All the below mentioned students are selected for Super-Placement Batch for 2021.</p>
<p>Classes are starting from 31<sup>st</sup> Jan, Friday 5:00PM to 7:00PM in LT-15 B.Tech Block. Other details regarding class schedule and security submission will be discussed in class itself.</p>
<p>Please note:</p>
<ol>
<li>That the names are as per your HackerEarth account profile.</li>
<li>Any student who will not be present in class without prior information will result in cancellation of his/her name in Super-Placement batch.</li>
</ol>
<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/01/GEU.html">Super-Placement Batch for 2021</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2028 -->

<article id="post-2026" class="post-2026 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Session by Cognizant for 6th semester students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-29T19:58:05+05:30">January 29, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Notice: Session by Cognizant for 6<sup>th</sup> semester students</strong></p>
<p>All the students of 6<sup>th</sup> semester are hereby informed that Cognizant will be visiting the campus on 1<sup>st</sup> February, 2020 as a precursor to the placement drive that will take place next semester. After an informal session with the students Mr. Vinay Saib, Director, CDB-AIA-BAI-BI-OI and Mr. Ankit Gupta, Manager &#8211; Analytics, CDB-AIA-BAI-DataSc Analytics-CI from Cognizant will share insights into current technical scenario vis-à-vis placements and also keeping in view of the importance of Machine Learning will deliver a session on Machine Learning for the students.</p>
<p>All students of 6<sup>th</sup> semester are directed to attend the session as per following date and time without fail.</p>
<p><strong>Date:</strong> 1st Feb 2020</p>
<p><strong>Venue:</strong> Graphic Era Hill University, Dehradun (Prof. K.P Nautiyal Audi- Top Floor)</p>
<p><strong>Time:</strong> 10.30 AM Sharp</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2026 -->

<article id="post-2020" class="post-2020 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: National Scholarship in Augmented Reality</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-22T12:35:05+05:30">January 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Notice: National Scholarship in Augmented Reality</strong></p>
<p>Facebook&#8217;s School of Innovation has announced 500 National Scholarship in Augmented Reality (AR) for students this year. In this connection, Online Applications are invited from Jan 13 to Feb 12, 2020. The objective behind this scholarship is to give students an opportunity and platform to learn how to conceptualize, create and brand their own content experiences, before deploying them using Spark AR Studio and publishing to Facebook.</p>
<p>In this scholarship program, 250 student teams (2 students per team) will be selected from a nationwide pool and be trained by industry experts over 12 weeks through the School of Innovation. The selected 250 teams will be given full Scholarship to partake in the program and the top 25 teams will be invited from National Demo Day hosted by Facebook.</p>
<p>For more details and to apply please visit <a href="https://www.sv.co/fb">https://www.sv.co/fb</a></p>
<p>Brochure available at: https://drive.google.com/file/d/1sD55GAbn9Z9MaVFtj4MxBKGRQ96iZNFo/view?usp=sharing</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2020 -->

<article id="post-2018" class="post-2018 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Registrations for Infosys HackwithInfy</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-22T12:34:24+05:30">January 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Notice: Registrations for Infosys HackwithInfy</strong></p>
<p>Registrations for Infosys HackwithInfy 2021 (3rd Edition) are open now.</p>
<p>Students are advised to register on the given link latest by 26th Jan 2020. Last year 100+ students of GEU and GEHU were offered placement by Infosys based on their performance in HackwithInfy.</p>
<p><strong>Courses Eligible: </strong>B.Tech All branches/M.Tech all branches 2021 batch &#8211;<strong> Pre-final Year students</strong></p>
<p><strong>Eligibility Criteria:</strong> No Academics criteria.</p>
<p><strong>MCA and MSc IT students are not eligible for HackwithInfy 2020.</strong></p>
<p><strong>Registration Link: </strong></p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdD8eU0_nPJvvQiw27j0SUIe04972rhDSaBd1BKmoXMaom9SA/viewform?vc=0&amp;c=0&amp;w=1">https://docs.google.com/forms/d/e/1FAIpQLSdD8eU0_nPJvvQiw27j0SUIe04972rhDSaBd1BKmoXMaom9SA/viewform?vc=0&amp;c=0&amp;w=1</a></p>
<p>#HackWithInfy is Infosys’s flagship India-wide hackathon to not just provide a perfect stepping stone for students to explore their passion for coding and programming, but also an opportunity to compete and earn a chance to work with Infosys.</p>
<p>#HackWithInfy competition offers</p>
<ul>
<li>Cash prizes worth INR350,000 to the winners.</li>
<li>Pre-placement interview opportunities for <a href="https://www.infosys.com/careers/power-programmers.html"><strong>Power Programmer</strong></a><strong>and System Engineer Specialist</strong> roles at Infosys</li>
<li>Opportunity for students to showcase their programming skills and earn peer recognition.</li>
</ul>
<p>#HackWithInfy 2020 will be conducted in three rounds.</p>
<p>Round 1 – An individual online challenge that will be held on Sunday, March 15 and Monday, March 16, 2020.</p>
<p>Round 2 – An individual online challenge that will be held on Sunday, March 29 and Monday, March 30, 2020.</p>
<p>Round 3 – Final round that will conducted in a grand finale at our sprawling Infosys Pune campus from Friday, July 3 to Monday, July 6, 2020. Infosys will sponsor travel and accommodation for the selected finalists.</p>
<p>Online challenges in Round 1 and 2 will be conducted on a competitive coding platform which will be announced later.</p>
<p>You can visit the <a href="http://www.infosys.com/hackwithinfy">#HackWithInfy website</a> for more details. Please feel free to contact me for clarifications.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2018 -->

<article id="post-2016" class="post-2016 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Internship opportunity under SPARK program</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-22T12:32:45+05:30">January 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Notice: Internship opportunity under SPARK program</u></strong></p>
<p>Summer Internship opportunity has been provided for students under the SPARK program by IIT Roorkee. Students are encouraged to apply for the same.</p>
<p>Url for applications is:  <a href="http://spark.iitr.ac.in/">http://spark.iitr.ac.in/</a></p>
<p>Starting from 2018, IIT Roorkee offers institute-funded (with a stipend of Rs. 2,500/week) and project-funded summer internships under the SPARK program. The objective of this program is to attract and nurture talented undergraduate students across the country. The program has been highly successful so far, with 10000+ applications last year, out of which 120+ offers were made. The work of the interns were well recognized, and also resulted in many research publications in reputed journals and international conferences.</p>
<p>Some of the salient features of SPARK program includes:</p>
<ul>
<li>Stipend of Rs. 2,500/week</li>
<li>Online, hassle-free application process</li>
<li>Students work on focussed projects advertised at the time of application</li>
<li>Regular progress reviews and poster sessions with awards for best posters</li>
</ul>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2016 -->

<article id="post-2009" class="post-2009 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Notice: 7 Sem Major Project Phase-1 evaluation (Defaulters)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-20T13:37:15+05:30">January 20, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p>The viva for the defaulters students is scheduled as per the following table. They are required to report at the designated time with the required documents as already notified in the 11 Dec notice (Complete SRS, Activity Diary and Completion Certificate, all duly signed by their guide).</p>
<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/01/7semmajoreval3.html">7 Sem Major Project Phase-1 evaluation (Defaulters)</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2009 -->

<article id="post-1996" class="post-1996 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">NOTICE: SCHEDULE OF CLASHED EXAMINATION JANUARY, 2020</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-18T16:25:56+05:30">January 18, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/01/SCHEDULE_2020-1.pdf">SCHEDULE OF CLASHED EXAMINATION JANUARY, 2020</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-1996 -->

<article id="post-1994" class="post-1994 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Schedule of 7 Sem Industrial Viva for Absentees on 18 Jan</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-17T18:41:24+05:30">January 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p>&nbsp;</p>
<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/01/ivivalastschedule.html">Schedule of 7 Sem Industrial Viva for Absentees on 18 Jan</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-1994 -->

<article id="post-1992" class="post-1992 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Change in Major Project Viva Schedule for some groups</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-17T18:38:24+05:30">January 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Change in Major Project Viva Schedule for some groups</u></strong></p>
<p>There is a change in the Major Project Viva schedule for the following group numbers (<a href="http://csitgeu.in/wp/7semproj.htm">http://csitgeu.in/wp/7semproj.htm</a>) . These groups are directed to appear as per the changed schedule and not as per the previous schedule.</p>
<p>The schedule for other groups remains unchanged.</p>
<table border="1">
<tbody>
<tr>
<td width="208">Group Nunbers</td>
<td width="208">Date and Time</td>
<td width="208">Reporting Faculty Member</td>
</tr>
<tr>
<td width="208">7, 17, 37, 40, 50, 52, 55, 59, 63, 71, 75, 82, 83, 84, 85, 87</td>
<td width="208">Saturday 18 January, 2020, 11.30 AM</p>
<p>OR</p>
<p>Monday, 20 January, 2020,</p>
<p>3 PM</td>
<td width="208">Dr. Devesh Pratap Singh and</p>
<p>D. Bordoloi</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-1992 -->

<article id="post-1989" class="post-1989 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Mini Project Evaluation Schedule for 3rd semester (Defaulters who did not fill form earlier)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-01-17T18:36:18+05:30">January 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/01/3mpevaldefaulters.html">Mini Project Evaluation Schedule for 3rd semester (Defaulters who did not fill form earlier)</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-1989 -->
</div>
<%-include("../partials/footer") %>