<%-include("../partials/header")%>
<div class="transbox">
 <article id="post-2269" class="post-2269 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Submission of Internship Information by 7 Sem Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-28T21:07:49+05:30">July 28, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Submission of Internship Information by 7 Sem Students</u></strong></p>
<p>All 7 Sem students were informed about the compulsory internship they are required to undertake. As such, the students are required to submit information about the internship they are doing by filling the form given at the end. Note that internship consist of 100 marks and hence filling the information is mandatory as this has to be updated in their academic records immediately.</p>
<p>The form has to be compulsorily filled by 3 pm of Wednesday, 29 July.</p>
<p>Form Link: <a href="https://forms.gle/DmAm4DDjJetMShgB9">https://forms.gle/DmAm4DDjJetMShgB9</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2269 -->

<article id="post-2267" class="post-2267 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mini Project Notice for 3rd and 5th Semester</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-27T13:20:16+05:30">July 27, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h3><strong><u>Mini Project Notice for 3<sup>rd</sup> and 5<sup>th</sup> Semester</u></strong></h3>
<p>All the students of 3<sup>rd</sup> Semester and 5<sup>th</sup> Semester are hereby informed that their Mini Project topics along with deadlines will be displayed shortly.</p>
<p>As the 3<sup>rd</sup> semester students are not familiar with mini-projects, the following information is shared so that they are ready with the requirements:</p>
<ol>
<li>Mini Projects are part of the scheme of study every semester starting from 3<sup>rd</sup> semester to 6<sup>th</sup> It consists of 100 marks.</li>
<li>It consists of working on a topic given by the Department. The topics are usually mid to large sized projects that involves extensive coding work resulting in building a fully working product. As students of Computer Science, the students are expected to follow strict coding standards.</li>
<li>Each student will work individually, on their own. There are no group projects.</li>
<li>Whereas the students will be provided with the topic and associated coding language/tools etc to be used,</li>
<li>Each student will follow the time line strictly. After the project list is displayed, the students will start working immediately on the design flow and prepare the coding template. After around 15 days of project list display , a first level of evaluation will happen (First level evaluation will carry a percentage of the total marks). Students who fails to maintain the required standards in the first level will be informed by the evaluation panel, such students have a greater risk of failing in the mini projects unless strong corrective measures are taken.</li>
<li>The mini projects are evaluated as per the following rubrics:</li>
</ol>
<p>&nbsp;</p>
<p>Click Here for Evaluation Rubrics : <a href="http://csitgeu.in/wp/mprubric.html">http://csitgeu.in/wp/mprubric.html</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2267 -->

<article id="post-2265" class="post-2265 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: 3rd Semester Industry Training Schedule</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-26T19:17:43+05:30">July 26, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>3<sup>rd</sup> Semester Industry Training Schedule</u></strong></p>
<p>The Industry Specific training for the 3<sup>rd</sup> Sem CE, CST and different specializations of CSE will be held as per the following schedule with effect from Monday, 27 July, 2020. The topics of the trainings were already displayed.</p>
<p>For the schedule click here: <a href="http://csitgeu.in/wp/3indtt.xlsx">http://csitgeu.in/wp/3indtt.xlsx</a></p>
<p>The students will receive directions as to how to attend the trainings at their emails they have provided. If a student does not receive the email, they are advised to contact their Mentors/Class Coordinators or Dr. Vijay Singh, Department of CSE.</p>
<p>Important Notes:</p>
<ol>
<li>For those trainings which consist of a Professional Certification Exam at the End, only those students who maintain a minimum attendance of 80% during the trainings will be allowed to appear for the Certification Test. There will be no relaxation whatsoever for any reasons.</li>
<li>Students who will receive IoT Kits as part of their trainings will ensure to follow all safety measures while working with electricity power. The Department or the Training Provider does not assume any responsibility for electricity related incidents.</li>
</ol>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2265 -->

<article id="post-2262" class="post-2262 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Industry Trainings for 3rd Sem student of CE, CST and CSE(Specializations)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-16T13:10:04+05:30">July 16, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p>The Industry Specific Trainings for the Students of CE, CST and other specializations of 3<sup>rd</sup> Semester are scheduled from 27<sup>th</sup> July, 2020 (tentative date). The training areas for this semester is tabulated below. The methodology of the trainings will be informed in due time through this website.</p>
<p>The University takes utmost care to select the relevant areas and industry so that the students are immensely benefitted in their career. The students are advised to attend these trainings regularly for their benefit.</p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td width="491"><strong>3rd Semester (CST)</strong></td>
</tr>
<tr>
<td width="491">Application Development Using React/Native API for Heterogeneous platforms</td>
</tr>
<tr>
<td width="491"><strong>3rd Semester (CE)</strong></td>
</tr>
<tr>
<td width="491">IoT Application Development and Deployment (Kit will be provided and sent to their home address)</td>
</tr>
<tr>
<td width="491"><strong>                            3<sup>rd</sup> Semester</strong> <strong>(DS)</strong></td>
</tr>
<tr>
<td width="491">Data Science Practitioner: Designing and implementing a Data Science Solution on Azure. DP-100 Microsoft certification Exam after the course.</td>
</tr>
<tr>
<td width="491"><strong>3<sup>rd</sup> Semester (ML)</strong></td>
</tr>
<tr>
<td width="491">Machine Learning Practitioner: Designing and implementing an Azure AI Solution. AI-100 Certification Exam after the course.</td>
</tr>
<tr>
<td width="491"><strong>3<sup>rd</sup> Semester (CC)</strong></td>
</tr>
<tr>
<td width="491">AWS Practitioner. AWS certified cloud Practitioner</p>
<p>Certification Exam after the training.</td>
</tr>
<tr>
<td width="491"><strong>3<sup>rd</sup> Semester (IS)</strong></td>
</tr>
<tr>
<td width="491">Microsoft Security Essential and Information Security. Microsoft Security Fundamentals Certification Exam after the training.</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2262 -->

<article id="post-2226" class="post-2226 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Important: Online Class Access Details w.e.f. 6th July, 2020</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-04T23:57:02+05:30">July 4, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Important: Online Class Access Details w.e.f. 6<sup>th</sup> July, 2020</u></strong></p>
<p>All the students are notified that their regular classes will start on online mode from Monday, 6<sup>th</sup> July, 2020 as per timetable. All classes will be managed through Moodle LMS.</p>
<p>Attendance will be automatically calculated based on your login for the classes according to the time-table.  Ensure that you maintain the minimum attendance criteria of 75%.</p>
<p>While login ensure that you use the specific IP address only as per the following table. If you login from a different IP address your attendance will not get marked. The concerned faculty member will have NO manual control over your attendance, so ensure to save your login iP.</p>
<p><strong>Moodle Address for various semester and Branch</strong></p>
<table border="1" width="387">
<tbody>
<tr>
<td width="169">Moodle Address</td>
<td width="219">Who will use this</td>
</tr>
<tr>
<td width="169">45.116.207.202/moodle</td>
<td width="219">3 Sem IT,</p>
<p>5<sup>th</sup> Sem IT</p>
<p>and 7<sup>th</sup> Sem IT</td>
</tr>
<tr>
<td width="169">45.116.207.203/moodle</td>
<td width="219">3rd Sem CSE (Core)</td>
</tr>
<tr>
<td width="169">45.116.207.204/moodle</td>
<td width="219">5th Sem CSE(Core)</td>
</tr>
<tr>
<td width="169">45.116.207.205</td>
<td width="219">7th Sem CSE(Core)</td>
</tr>
<tr>
<td width="169">45.116.207.206/moodle</td>
<td width="219">3rd Sem CSE( CC, DS, ML, IS)</p>
<p>and</p>
<p>7th Sem CSE(CC, BDA and Cyber Security)</td>
</tr>
<tr>
<td width="169">45.116.207.207/moodle</td>
<td width="219">3 Sem CE,CST,SE and D4</p>
<p>and</p>
<p>5 sem IBM (CC, DS, ML)</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2226 -->

<article id="post-2222" class="post-2222 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Urgent: 3rd Sem Students who did not fill their Elective Choices</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-03T14:56:46+05:30">July 3, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Urgent: 3<sup>rd</sup> Sem Students who did not fill their Elective Choices</u></strong></p>
<p>The 3<sup>rd</sup> Semester students were directed to fill their choices of Electives latest by Sunday, 28 June, 2020. However, the following students did not fill up their choices. These students are directed to give their choices to their mentors latest by Saturday. 4<sup>th</sup> July, 2020, 5PM.</p>
<p>If the students do not give their choices, they will be randomly allotted a choice by the Department. NO REQUESTS WILL BE ENTERTAINED AFTER THAT UNDER ANY CIRCUMSTANCES.</p>
<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/07/3elchoice.docx"> <strong><u>Elective Choices List </u></strong></a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2222 -->

<article id="post-2219" class="post-2219 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Industrial Interaction Back Submission</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-07-01T15:26:49+05:30">July 1, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Industrial Interaction Back Submission</u></strong></p>
<p>The following students who have filled back for Seminar on Industrial Interaction are directed to send their Industrial Internship report in word/pdf format latest by Saturday, 4<sup>th</sup> July 2020 to the email id: indialor AT gmail DOT com</p>
<p>Name of the students:</p>
<p>SHIVANI BADONI (BDA)</p>
<p>AMIT KALA (CSE)</p>
<p>SHIVAM AHLAWAT (CC)</p>
<p>AYUSH GUPTA (IT)</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2219 -->

<article id="post-2216" class="post-2216 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Elective Choice for D4 Section of 3rd Sem</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-01T15:16:46+05:30">July 1, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Notice: Elective Choice for D4 Section of 3<sup>rd</sup> Sem</strong></p>
<p>The Core-CSE students of D4 section (3<sup>rd</sup> Sem) are directed to fill their choice of Elective by 3<sup>rd</sup> July using the form below. If the students do not fill the choice by due-date they will be allotted any subject by the Department and no subsequent changes will be done under any circumstances.</p>
<p><a href="https://forms.gle/y7t9fRbgeiixJ9DM8">https://forms.gle/y7t9fRbgeiixJ9DM8</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2216 -->

<article id="post-2213" class="post-2213 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Regarding Back Mini Project Submission</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-07-01T15:12:35+05:30">July 1, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Notice: Regarding Back Mini Project Submission</strong></p>
<p>All such students who have a back in mini project (3<sup>rd</sup> and 5<sup>th</sup> Semester) are directed to submit their work  a report and video presentation) by uploading in their google drive and then send the link along with their name, University Roll No, Back mini project of which semester and contact number to Piyush Agarwal, Asst Prof at piyush221292 AT gmail.com by Sunday, 5<sup>th</sup> July, 2020 without fail.</p>
<p>Any student who had a back in even semester many project (4<sup>th</sup> and 6<sup>th</sup>) and did not submit by the deadline can also submit by the same deadline of 5<sup>th</sup> July.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2213 -->
</div>
<%-include("../partials/footer")%>