<%-include("../partials/header")%>
<div class="transbox">
<article id="post-2211" class="post-2211 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Odd Semester Back End Practical Exams 2020</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-28T19:07:58+05:30">June 28, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Odd Semester Back End Practical Exams 2020</u></strong></p>
<p>The Odd Semester Back End Practical will be held according to the following schedule. Only those students who have filled the forms are eligible to appear for the exams.</p>
<p>Due to the prevailing pandemic situation, the exams will be held online. The exams will consist of two parts- One MCQ/Viva and other write up. The concerned faculty member will mail you with the details to the same email id you provided during filling the forms.</p>
<p>If you do not receive a mail a day before the schedule of the exam you may contact the concerned faculty member.</p>
<p>The schedule of the exams and the names of the concerned faculty member can be found here: <a href="http://www.csitgeu.in/wp/ops20.docx">www.csitgeu.in/wp/ops20.docx</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2211 -->

<article id="post-2209" class="post-2209 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Urgent Notice for 8th Sem Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-22T12:07:27+05:30">June 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><u>Urgent Notice for 8<sup>th</sup> Sem Students</u></p>
<p>It has been found that a number of links where 8<sup>th</sup> semester students have uploaded their project reports/presentations have not been made shareable.</p>
<p>This is not expected from passing out students.</p>
<p>It is directed to make all the links shareable latest by 5 pm of 22 June 2020. The Department WILL NOT CONTACT individual students if their links are not shared. If a link is found not to be shared the student will summarily be marked Absent and the student will have to appear for Back Exams.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2209 -->

<article id="post-2207" class="post-2207 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark"> Elective Choices for 7th Semester CSE(Core)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-20T17:59:00+05:30">June 20, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Elective Choices for 7th Semester CSE(Core)</u></strong></p>
<p>The 7th CSE-Core Students are hereby notified to give their preferences for choice of Elective by filling the following form. Please note that elective choice is applicable only for Core Students, for the Specialization students and IT students the Elective track is fixed.</p>
<p>Please choose the Elective after considering your technical interests and proficiency. Talk to your Mentor or any faculty member if you need help in choosing the Elective. Once chosen, the choice cannot be changed under any circumstances.</p>
<p>If you do not fill the Elective choice by the due date you will be allotted an Elective by the Department based on operational factors and no representation will be entertained. So, ensure that you fill your choices.</p>
<p>An Elective will be offered only if a minimum of 60 students choose a subject (the Department may lower the minimum requirement based on circumstances, but it is not guaranteed). It is henceforth essential that you give all choices in order of preference. You will be allotted your first preference if it is offered based on enough students choosing it, if not offered you will be allotted your second preference and so on.</p>
<p>The Last Date of giving your choice is midnight of Sunday, 21 June 2020.</p>
<p>&nbsp;</p>
<table border="1">
<tbody>
<tr>
<td width="102">7<sup>th</sup> Choice Link</td>
<td width="522"><a href="https://forms.gle/Gp8hCjgZk6qeQLXKA">https://forms.gle/Gp8hCjgZk6qeQLXKA</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2207 -->

<article id="post-2205" class="post-2205 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Imp Notice: Compulsory Internship for Students going from 6th to 7th Semester (Updated)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-18T12:06:42+05:30">June 18, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Imp Notice: Compulsory Internship for Students going from 6<sup>th</sup> to 7<sup>th</sup> Semester (Updated)</u></strong></p>
<p>All students who are progressing from 6<sup>th</sup> Semester to 7<sup>th</sup> Semester are hereby informed that as per their scheme of study they have to mandatorily complete a 40-days or minimum 80 hours internship after completing their 6<sup>th</sup>semester. After completion they have to present their work in a detailed report and also undergo a viva which carries a 100 marks component in their 7<sup>th</sup> semester scheme.</p>
<p>Due to the prevailing situation AICTE has mandated that students should undergo online internships. Students are advised to look for and choose an appropriate online internship and start it as soon as their Lab Exams are over.</p>
<p>Some of the possible choices:</p>
<ol>
<li>Visit <a href="https://internship.aicte-india.org/">https://internship.aicte-india.org/</a></li>
<li>Popular Internship platform like Internshala, Twenty19, Letsintern etc</li>
<li>Projects under Academicians, Researchers of Institutes of Repute like IITs, NITs, DRDO etc</li>
<li>Projects under Professors and Associate Professors of GEU/GEHU</li>
<li>Undertaking a freelance project for a client with appropriate man hours where the students gets paid is also considered as an internship (for example building a complete web site for an organization)</li>
</ol>
<p>While selecting an internship you may discuss with your mentor regarding the suitability.</p>
<p>Students who are already undergoing long term internships in an organization can continue with the same.</p>
<p>Students who decides to perform internship under Sl no 3 &amp; 4 (Projects under Academicians, Researchers of Institutes of Repute like IITs, NITs, DRDO etc/Projects under Professors and Associate Professors of GEU/GEHU) should confirm beforehand whether the particular organization/faculty member comes under eligibility list of internships.</p>
<p>If you have any questions regarding suitability of an internship, please ask your query in the following forum:</p>
<p><a href="https://csitgeu.in/phpbb/viewtopic.php?f=2&amp;t=2">https://csitgeu.in/phpbb/viewtopic.php?f=2&amp;t=2</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2205 -->

<article id="post-2202" class="post-2202 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Elective Choices for 3rd and 5th Semester CSE(Core)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-17T20:10:24+05:30">June 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong></p>
<p><strong><u>Elective Choices for 3<sup>rd</sup> and 5<sup>th</sup> Semester CSE(Core)</u></strong></p>
<p>The 3<sup>rd</sup> Semester and 5<sup>th</sup> Semester CSE-Core Students are hereby notified to give their preferences for choice of Elective by filling the following form. Please note that elective choice is applicable only for Core Students, for the Specialization students, CST, CE, IS and IT students the Elective track is fixed.</p>
<p>Please choose the Elective after considering your technical interests and proficiency. Talk to your Mentor or any faculty member if you need help in choosing the Elective. Once chosen, the choice cannot be changed under any circumstances.</p>
<p>If you do not fill the Elective choice by the due date you will be allotted an Elective by the Department based on operational factors and no representation will be entertained. So, ensure that you fill your choices.</p>
<p>An Elective will be offered only if a minimum of 60 students choose a subject (the Department may lower the minimum requirement based on circumstances, but it is not guaranteed). It is henceforth essential that you give all choices in order of preference. You will be allotted your first preference if it is offered based on enough students choosing it, if not offered you will be allotted your second preference and so on.</p>
<p>The Last Date of giving your choice is midnight of Sunday, 28 June 2020.</p>
<p>3<sup>rd</sup> Sem students can find their Section Information in the same link provided for mentor search.</p>
<table border="1">
<tbody>
<tr>
<td width="102">3<sup>rd</sup> Sem Choice Link</td>
<td width="522"><a href="https://forms.gle/RoY3YCHGeJdGJ4bm6">https://forms.gle/RoY3YCHGeJdGJ4bm6</a></td>
</tr>
<tr>
<td width="102">5<sup>th</sup> Sem Choice Link</td>
<td width="522"><a href="https://forms.gle/ix2afButjcyqZ6Yh8">https://forms.gle/ix2afButjcyqZ6Yh8</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2202 -->

<article id="post-2198" class="post-2198 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Notice: Admission Offer Letter Uploading for 8th Semester Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-17T18:25:24+05:30">June 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Admission Offer Letter Uploading for 8<sup>th</sup> Semester Students</u></strong></p>
<p>All 8<sup>th</sup> semester students who have received an offer of admission for Higher Studies based on their GATE exams or other exams like GRE etc are advised to upload a copy of the offer letter in the following link immediately. These are required for finalization of your General Proficiency marks.</p>
<p>Link for Uploading: <a href="https://forms.gle/RXaWaNX3rY5SxBBx6">https://forms.gle/RXaWaNX3rY5SxBBx6</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2198 -->

<article id="post-2196" class="post-2196 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Imp Notice: Compulsory Internship for Students going from 6th to 7th Semester</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-17T18:24:18+05:30">June 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Imp Notice: Compulsory Internship for Students going from 6<sup>th</sup> to 7<sup>th</sup> Semester</u></strong></p>
<p>All students who are progressing from 6<sup>th</sup> Semester to 7<sup>th</sup> Semester are hereby informed that as per their scheme of study they have to mandatorily complete a 40-days or minimum 80 hours internship after completing their 6<sup>th</sup>semester. After completion they have to present their work in a detailed report and also undergo a viva which carries a 100 marks component in their 7<sup>th</sup> semester scheme.</p>
<p>Due to the prevailing situation AICTE has mandated that students should undergo online internships. Students are advised to look for and choose an appropriate online internship and start it as soon as their Lab Exams are over.</p>
<p>Some of the possible choices:</p>
<ol>
<li>Visit <a href="https://internship.aicte-india.org/">https://internship.aicte-india.org/</a></li>
<li>Popular Internship platform like Internshala, Twenty19, Letsintern etc</li>
<li>Projects under Academicians, Researchers of Institutes of Repute like IITs, NITs, DRDO etc</li>
<li>Projects under Professors and Associate Professors of GEU/GEHU</li>
</ol>
<p>While selecting an internship you may discuss with your mentor regarding the suitability.</p>
<p>Students who are already undergoing long term internships in an organization can continue with the same.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2196 -->

<article id="post-2194" class="post-2194 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Mentors for Upcoming Odd Semester (July-Dec 2020)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-15T22:48:42+05:30">June 15, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong></p>
<p><strong><u>Notice: Mentors for Upcoming Odd Semester (July-Dec 2020)</u></strong></p>
<p>All students of 3<sup>rd</sup>, 5<sup>th</sup> and 7<sup>th</sup> Sem are hereby informed that from this semester onwards the Students are directly placed under a mentor till the end of the semester. The students will remain in direct contact with their mentors for guidance and support. Additionally, the mentor will also help you or provide guidance for any administrative/academic issues (like fee payment issues, exam issues) being faced currently due to the Epidemic situation.  The role of Class Coordinators is being culminated, this role will no longer exist and for academic administration Class In charges will be appointed when the session starts.</p>
<p>Mentors will help you with the following:</p>
<p>Provide guidance and support to you based on your unique developmental needs.</p>
<p>Provide active guidance to your academic and administrative needs, solve such issues or direct you to the appropriate authority who can solve the issue.</p>
<p>Provide active advice for your career choices like choosing of electives, mini and major projects, internships.</p>
<p>Give advice and guidance, share ideas, and provide feedback.</p>
<p>Provide support on personal issues, if appropriate and asked for.</p>
<p>You can find your mentor details in the following link:</p>
<p><a href="https://bigeulab.in/mentor/">https://bigeulab.in/mentor/</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2194 -->

<article id="post-2192" class="post-2192 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Registration for 3rd, 5th and 7th Semester</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-15T13:12:42+05:30">June 15, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Notice: Registration for 3<sup>rd</sup>, 5<sup>th</sup> and 7<sup>th</sup> Semester</strong></p>
<p>All students are hereby informed that Online Registration for the next semester (July-December 2020) is open online. It is mandatory to register through the online ERP portal.</p>
<p>Process of Registration:</p>
<ol>
<li>Go to:  erp.geu.ac.in</li>
<li>Login with your credentials (The user Id is your admission number and the default password is also your admission number. You can change the password after login)</li>
<li>After login go to Academic and then to Semester Registration</li>
<li>An auto filled form is generated. Verify the details and complete the Registration process.</li>
</ol>
<p>Registration is possible only for students who have paid their fees. If you have paid the fees offline in some bank branch and not informed the University, please send a snapshot of the receipt to your class coordinator/mentor immediately so that your registration is enabled in the portal.</p>
<p>All students are advised to complete their online registration as early as possible.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2192 -->

<article id="post-2189" class="post-2189 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><arel="bookmark">Odd Sem Back Paper Examination Notice June 2020</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-06-13T12:28:04+05:30">June 13, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Odd Sem Back Paper Examination Notice</u></strong></p>
<p>The Odd Semester Back Paper/Old Course Back Paper Examination 2020 is scheduled from 15 June 2020. The schedule of the CSIT subjects can be found <a href="http://csitgeu.in/wp/ob2020.pdf">by clicking here.</a></p>
<p>Due to prevailing situations the examinations are held online through Moodle LMS.</p>
<p>The paper has two parts- Part A-MCQ(1 hour, 39 questions, 58 marks) and Part B- Subjective(1 hour, 3 questions to be attempted out of 5, 42 marks). 30 extra minutes will be given for uploading.</p>
<p>The examination URL and login details as well as other specific directions have already been mailed to you to the email address you have provided during form filling. If you have not received the mail contact Manish Sharma, Associate Prof, Dept of CSE immediately.</p>
<p>For any issues contact the concerned Faculty Nodal Officer:</p>
<ol>
<li>For second year papers: Ashwini Kumar, Dept of CSE, 9999022385</li>
<li>For third year papers: Manish Sharma,Dept of CSE, 9634432297</li>
<li>For final year papers: Dr. Ankur Dumka, Dept of CSE, 9997888410</li>
</ol>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2189 -->
</div>

<%-include("../partials/footer")%>