<%-include("../partials/header")%>
<div class="transbox">
<article id="post-2123" class="post-2123 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mini Project Notice for 4th Semester Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-28T00:24:55+05:30">March 28, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/03/mp4_2020.html">For Topics Click</a></p>
<p><strong><u>Mini Project Notice for 4th Semester Students</u></strong></p>
<p>The following lists mini-project topics for the students of BTech-CSE(CSE-Core, CSE-All specializations and IT), 4th semester. Along with the project list name(s) of faculty member is(are) given who would act as the resource person for the topic. If there are any queries please contact the faculty member(s) directly to understand the requirements, tools and technologies to be used, final output format etc..</p>
<p><strong>Evaluation Date: Second week of May. </strong>Exact dates of evaluation will be subsequently notified, ensure to complete your project work by first week of May.</p>
<p>Evaluation Panel(s) and Method: Will be notified</p>
<p><strong>All projects need to be done individually. No group project allowed.</strong></p>
<p>Notes:</p>
<ol>
<li>All topics are open to all students across specializations except wherever mentioned. It means any topic can be selected by student(s) ofSome topics are marked exclusively for specializations, It means this topic can be choses only by the students of that particular specialization(s), however students of that specialization(s) are free to choose any other topic.</li>
</ol>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2123 -->

<article id="post-2120" class="post-2120 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Mini Project Notice for 6th Semester Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-27T11:30:05+05:30">March 27, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h4><a href="http://csitgeu.in/wp/wp-content/uploads/2020/03/Mini-Prpject6th-sem.html">Mini Projects 6th  Topics  Click </a></h4>
<p><strong><u>Mini Project Notice for 6th Semester Students</u></strong></p>
<p>The following lists mini-project topics for the students of BTech-CSE(Core, BDA, Cloud, Cyber), 6th semester and BTech-IT(6th Semester). Along with the project list name(s) of faculty member is(are) given who would act as the resource person for the topic. If there are any queries please contact the faculty member(s) directly to understand the requirements, tools and technologies to be used, final output format etc..</p>
<p><strong>Evaluation Date: Second week of May. </strong>Exact dates of evaluation will be subsequently notified, ensure to complete your project work by first week of May.</p>
<p>Evaluation Panel(s) and Method: Will be notified</p>
<p><strong>All projects need to be done individually. No group project allowed.</strong></p>
<p>Notes:</p>
<ol>
<li>All topics are open to all students across specializations except wherever mentioned. It means any topic can be selected by student(s) of core cse, BDA, cloud, cyber-security, IT. Some topics are marked exclusively for specializations, It means this topic can be choses only by the students of that particular specialization(s), however students of that specialization(s) are free to choose any other topic.</li>
</ol>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2120 -->

<article id="post-2119" class="post-2119 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Mid Term Assessment of IBM specialization subjects</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-24T11:45:00+05:30">March 24, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong>Notice: Mid Term Assessment of IBM specialization subjects</strong></p>
<p>The following assignments and presentations are for the IBM specialization subjects of 4<sup>th</sup> semester</p>
<table border="1">
<tbody>
<tr>
<td width="312">CC and DSAI students assignments</td>
<td width="312">http://csitgeu.in/wp/alt20/cc_ds_assgn.docx</td>
</tr>
<tr>
<td width="312">CC and DSAI students presentations</td>
<td width="312">http://csitgeu.in/wp/alt20/cc_ds_ppt.docx</td>
</tr>
<tr>
<td width="312">ML students assignments</td>
<td width="312">http://csitgeu.in/wp/alt20/ml_assgn.docx</td>
</tr>
<tr>
<td width="312">ML students presentations</td>
<td width="312">http://csitgeu.in/wp/alt20/ml_ppt.docx</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Code of Cloud Application Development is IBM401</p>
<p>Code of Machine Learning With R is IBM431</p>
<p>Other rules remain same as the previous assignments and presentations. Save the files in the same shareable folder.</p>
<p>Last date is Monday, 30 March, 2020, 5PM</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2119 -->

<article id="post-2117" class="post-2117 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Project Presentation by 8th sem Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-03-24T11:43:44+05:30">March 24, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Notice: Project Presentation by 8<sup>th</sup> sem Students</u></strong></p>
<p>All 8<sup>th</sup> semester students are required to prepare a video presentation to showcase their major project status. This is the last assessment before the final evaluation, and it is expected that the students have almost completed their project.</p>
<ol>
<li>This presentation is to be prepared by all students, including the students who have taken a NOC certificate.</li>
<li>The video presentation is to be of minimum 15 minutes.</li>
<li>Since the students doing projects in a group are stationed in different places, the students are required to make individual presentations about their role in the project. Another possible option is that all students of a group make individual presentations and one of the group member combines the presentation into one video presentation. Follow whichever mode suits you.</li>
<li>Each student at the beginning should give a brief introduction about himself/herself including his/her section, class and university roll number.</li>
<li>Students who have joined an organization are allowed to present the work being done at the organization as the final year project provided the data confidentiality rules of the organization are taken care of. In the presentation they are required to present the details of work done in the organization</li>
<li>Once the video presentation in ready save the file in google drive and share the file link with your class coordinator. The name of the file should be youruniversityroll no.xxx (for example 2011200.mov, 2011211.mp4 etc). If a group presentation is prepared the filename should be comprised of all roll numbers separated by an underscore.xxx (for example 2011300_2011311_2011344.mpeg)</li>
<li>The last date for uploading the presentation in google drive and sending the link toyour class coordinator is 31<sup>st</sup> March, 2020.</li>
</ol>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2117 -->

<article id="post-2113" class="post-2113 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Video Presentation Topics for 4th and 6th Semester(updated)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-18T08:17:52+05:30">March 18, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h6><a href="http://csitgeu.in/wp/wp-content/uploads/2020/03/masterppt_update.html"><strong>Video Presentation Topics for 4th and 6th Semester(updated)</strong></a></h6>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2113 -->

<article id="post-2110" class="post-2110 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Submission Instructions of Assignments and Presentations</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-18T08:13:25+05:30">March 18, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h5><a >Submission Instructions of Assignments and Presentations</a></h5>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2110 -->

<article id="post-2107" class="post-2107 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice:Presentation Topics for 4th and 6th Semester</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-17T16:34:24+05:30">March 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/03/masterppt.html"><strong><u>Presentation Topics for 4<sup>th</sup> and 6<sup>th</sup> Semester</u></strong></a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2107 -->

<article id="post-2100" class="post-2100 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">MTech- 2nd Semester and PhD Scholars opting any of these subjects</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-17T12:21:17+05:30">March 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/03/mtechasg-final.html">MTech- 2nd Semester and PhD Scholars opting any of these subjects</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2100 -->

<article id="post-2098" class="post-2098 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice for 8th Sem Students: Submission of GATE scorecard</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-17T10:05:19+05:30">March 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Notice for 8<sup>th</sup> Sem Students: Submission of GATE scorecard</u></strong></p>
<p>All 8<sup>th</sup> semester students who appeared for GATE 2020 are required to submit a copy of their score card at the following link irrespective of their score. Submission should be done by Wednesday, 18<sup>th</sup> March, 1PM without fail. Failure to do so will result in losing any benefit of attendance during the GATE exam period.</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfGDetLEAtSYM-007Opcewipe8A2H-P4lr5oYObj3CrxhxT5w/viewform?vc=0&amp;c=0&amp;w=1">https://docs.google.com/forms/d/e/1FAIpQLSfGDetLEAtSYM-007Opcewipe8A2H-P4lr5oYObj3CrxhxT5w/viewform?vc=0&amp;c=0&amp;w=1</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2098 -->

<article id="post-2092" class="post-2092 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Mid Term Assignment List for 4th and 6th Semester</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-03-16T17:19:53+05:30">March 16, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/03/masterfileassgn_final.html">Notice: Mid Term Assignment List for 4th and 6th Semester</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2092 -->
</div>
<%-include("../partials/footer")%>