<%-include("../partials/header")%>
<div class="transbox">
<article id="post-2174" class="post-2174 post type-post status-publish format-standard hentry category-latest">
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Mid Term Exam Assignment and Presentation Topics for 8th Semester</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-29T17:37:48+05:30">May 29, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Mid Term Exam Assignment and Presentation Topics for 8<sup>th</sup> Semester</u></strong></p>
<p>The mid term assessment assignments and presentation topics are given below. All students are directed to adhere to the submission deadlines and method of submission which were given in the previous notice regarding this. (Previous Notice available at <a href="https://bit.ly/2ZJwftN">https://bit.ly/2ZJwftN</a> ). Failure to adhere to the rules and regulations will directly result in an ABSENT in the midterm exams.</p>
<p><strong>8th Semester</strong></p>
<table border="1" width="629">
<tbody>
<tr>
<td width="72"><strong>Code</strong></td>
<td width="273"><strong>Subject</strong></td>
<td width="284"><strong>Related Document</strong></td>
</tr>
<tr>
<td width="72">TCS 801</td>
<td width="273">Distributed Systems</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/distributed.docx">Click Here</a></td>
</tr>
<tr>
<td width="72">TCS 802</td>
<td width="273">Mobile Computing</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/mobile.docx">Click Here</a></td>
</tr>
<tr>
<td width="72">TDM 881</td>
<td width="273">Disaster Management</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/disaster.docx">Click Here</a></td>
</tr>
<tr>
<td width="72">TIT 851</td>
<td width="273">Business Intelligence</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/bi.docx">Click Here</a></td>
</tr>
<tr>
<td width="72">TIT 756</td>
<td width="273">Human Computer Interaction</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/hci.docx">Click Here</a></td>
</tr>
<tr>
<td width="72">TCS 859</td>
<td width="273">Service Oriented Cloud Architecture</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/service.docx">Click Here</a></td>
</tr>
<tr>
<td width="72">TCS 871</td>
<td width="273">Storage Network</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/storage.docx">Click Here</a></td>
</tr>
<tr>
<td width="72">TIT 801</td>
<td width="273">IT-Infrastructure Management</td>
<td width="284"><a href="http://csitgeu.in/wp/8mid2020/itim.docx">Click Here</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2174 -->

<article id="post-2172" class="post-2172 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Important Notice for CSIT students regarding End Term Exams</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-26T12:06:50+05:30">May 26, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p class="MsoNormal" style="margin: 0cm 0cm 8pt; line-height: 15.693333625793457px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: center;" align="center"><b><u><span lang="EN-US">Important Notice for CSIT students regarding End Term Exams</span></u></b></p>
<p class="MsoNormal" style="margin: 0cm 0cm 8pt; line-height: 15.693333625793457px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: justify;"><span lang="EN-US">All students of GEU might have received messages regarding End Term Exams held in Exam Portal (Moodle). All students of CSIT appearing for End Term Exams 2020 (both regular and back) are hereby notified to ignore any message as the exams of CSIT are NOT being conducted through LMS but through Hackerearth and GoogleDrive/Departmental Website. The message of Exam through Moodle was broadcast to all students of GEU irrespective of the Branch and that is the reason for receiving that message. Students of CSIT should follow notices published in this website only.</span></p>
<p class="MsoNormal" style="margin: 0cm 0cm 8pt; line-height: 15.693333625793457px; font-size: 11pt; font-family: Calibri, sans-serif; text-align: justify;"><span lang="EN-US"> </span></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2172 -->

<article id="post-2169" class="post-2169 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Minor Update to the Modalities of End Term 2020 Exam</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-23T22:07:58+05:30">May 23, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Minor Update to the Modalities of End Term 2020 Exam</u></strong></p>
<p>There are some changes in the modalities of the End Term Exams 2020 for both regular and back papers. Please read the following carefully.</p>
<ol>
<li>Minor changes in the Paper Pattern and Marks: The MCQ paper will have 39 questions. 20 questions will have 1 mark and 19 questions have 2 marks (Total: 58 marks)</li>
</ol>
<p>Subjective Paper will have 5 questions of 14 marks each. Students have to answer any three questions (Total 3 *14 = 42 marks). There may be sub questions.</p>
<p>There is no change in the other details like timings. (See previous notice for the details at: <a href="https://bit.ly/3giGQl9">https://bit.ly/3giGQl9</a></p>
<ol start="2">
<li>There is a change in the Subjective Question delivery mode. It was observed during testing phase that some emails are being delivered late, hence, to avoid any issues with timings the question papers will now be made available in google drive (Links below). Question papers will made available on the scheduled date and the scheduled timings (10.55 AM for the morning session and 3.25 PM for the evening session) in the links. Please save the links for quick reference.</li>
</ol>
<table border="1">
<tbody>
<tr>
<td width="198">Semester</td>
<td width="378">Link for Question Paper</td>
</tr>
<tr>
<td width="198">4</td>
<td width="378"><a href="https://drive.google.com/drive/folders/1XnMdUjgRUyEP7fsWfDBCN9ggmz68wQ0e?usp=sharing">https://drive.google.com/drive/folders/1XnMdUjgRUyEP7fsWfDBCN9ggmz68wQ0e?usp=sharing</a></td>
</tr>
<tr>
<td width="198">6</td>
<td width="378"><a href="https://drive.google.com/drive/folders/1YubesxD0Em21YblhvcTzOEo_7HPK14UK?usp=sharing">https://drive.google.com/drive/folders/1YubesxD0Em21YblhvcTzOEo_7HPK14UK?usp=sharing</a></td>
</tr>
<tr>
<td width="198">8</td>
<td width="378"><a href="https://drive.google.com/drive/folders/1J-hYM3D-lG8vndq3cZdAUqfLV0y0P3PW?usp=sharing">https://drive.google.com/drive/folders/1J-hYM3D-lG8vndq3cZdAUqfLV0y0P3PW?usp=sharing</a></td>
</tr>
</tbody>
</table>
<p>Alternatively, the question papers will also be mirrored in the following link at the same time.</p>
<p><a href="http://csitgeu.in/wp/end2020/">http://csitgeu.in/wp/end2020/</a></p>
<p>Please download the subjective question paper from any of the above channels at the specified timings. If you encounter any difficulty in obtaining the question paper contact your class coordinator or the Nodal Faculty Members.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2169 -->

<article id="post-2163" class="post-2163 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Revised End Term Examination Notice: Complete Modalities and Details</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-22T20:58:01+05:30">May 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h3><a href="http://csitgeu.in/wp/wp-content/uploads/2020/05/Revised-End-Term-Examination-Notice.html">Revised End Term Examination Notice</a></h3>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2163 -->

<article id="post-2161" class="post-2161 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Additional Information Regarding End Term Exams</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-05-22T20:55:32+05:30">May 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Additional Information Regarding End Term Exams</u></strong></p>
<p><span style="text-decoration: line-through;">All students are hereby notified that the subjective question papers will be sent from designated email ids only. All students, regular and back paper students, will receive an email regarding the rules and regulations (the same notice as displayed in the website) from those designated email ids by 24 May 2020. For instance, if a student has six subjects in the examination, he/she will receive six emails from the designated email ids. This is to ensure that the students are aware of the email ids from where question papers will be sent.</span></p>
<p><span style="text-decoration: line-through;">Please save the email id in your contact list. If you do not receive a mail by 24<sup>th</sup> May first check your spam mail box. In that case mark the mail as Not Spam and save the email id in the contact list. If you do not receive a mail at all you might have given an incorrect email id, in that case, contact your class coordinator immediately. If students who are appearing in back papers do not receive this mail contact any one of the Nodal faculty members given below.</span></p>
<p><span style="text-decoration: line-through;">Once you save the email id in your contact list expect to get the question paper from the same email id on the designated day of exam by the time as mentioned in the detailed notice of rules and regulations.</span></p>
<p>There is a change in the Subjective Question delivery mode. It was observed during testing phase that some emails are being delivered late, hence, to avoid any issues with timings the question papers will now be made available in google drive (Links below). Question papers will made available on the scheduled date and the scheduled timings (10.55 AM for the morning session and 3.25 PM for the evening session) in the links. Please save the links for quick reference.</p>
<table border="1">
<tbody>
<tr>
<td width="72">Semester</td>
<td width="528">Link for Question Paper</td>
</tr>
<tr>
<td width="72">4</td>
<td width="528"><a href="https://drive.google.com/drive/folders/1XnMdUjgRUyEP7fsWfDBCN9ggmz68wQ0e?usp=sharing">https://drive.google.com/drive/folders/1XnMdUjgRUyEP7fsWfDBCN9ggmz68wQ0e?usp=sharing</a></td>
</tr>
<tr>
<td width="72">6</td>
<td width="528"><a href="https://drive.google.com/drive/folders/1YubesxD0Em21YblhvcTzOEo_7HPK14UK?usp=sharing">https://drive.google.com/drive/folders/1YubesxD0Em21YblhvcTzOEo_7HPK14UK?usp=sharing</a></td>
</tr>
<tr>
<td width="72">8</td>
<td width="528"><a href="https://drive.google.com/drive/folders/1J-hYM3D-lG8vndq3cZdAUqfLV0y0P3PW?usp=sharing">https://drive.google.com/drive/folders/1J-hYM3D-lG8vndq3cZdAUqfLV0y0P3PW?usp=sharing</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Alternatively, the question papers will also be mirrored in the following link at the same time.</p>
<p><a href="http://csitgeu.in/wp/end2020/">http://csitgeu.in/wp/end2020/</a></p>
<p>Please download the subjective question paper from any of the above channels at the specified timings. If you encounter any difficulty in obtaining the question paper contact your class coordinator or the Nodal Faculty Members.</p>
<p>&nbsp;</p>
<p>Keeping in view of this changed modality of exam a Departmental Committee has been formed to handle unexpected problems during the exam process. You may approach any faculty member of the committee for assistance in problems regarding exams. Note that the committee may not be able to help out in automated issues: for instance, if you are late for login or submission, so ensure you follow the timings strictly.</p>
<p><strong>Departmental Nodal Faculty Members for handling exam related queries:</strong></p>
<ol>
<li><strong>Ankur Choudhary ( Phone No 9760316521)</strong></li>
<li><strong>Sumit Pundir (9997219039) / Hemant Pokhriya (9634749537)</strong></li>
<li><strong> Parul Madan (9557840852)</strong></li>
</ol>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2161 -->

<article id="post-2158" class="post-2158 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Notice: 8th Semester Mid Term Exam Notice</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-22T20:54:24+05:30">May 22, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<h3><strong><a href="http://csitgeu.in/wp/wp-content/uploads/2020/05/Mid-Term-Examinations-of-8th-Semester.html">Mid Term Examinations of 8th Semester</a></strong></h3>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2158 -->

<article id="post-2155" class="post-2155 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mid-Term Make Up Lab Exams Schedule and Modalities</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-19T17:58:19+05:30">May 19, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/05/midlabschedule.html"><strong><u>Mid-Term Make Up Lab Exams Schedule and Modalities</u></strong></a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2155 -->

<article id="post-2150" class="post-2150 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Mini Project Evaluation Postponed</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-13T10:06:28+05:30">May 13, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong></p>
<p><strong><u>Notice: Mini Project Evaluation Postponed</u></strong></p>
<p>Due to the current situation and at the request of the Student community the Department has decided to grant some more time for completion of the mini projects of 4<sup>th</sup> and 6<sup>th</sup> semester. The evaluation scheduled from 16<sup>th</sup> May is now postponed and will now be scheduled after the End-Term Exams. Students are advised to utilize this extended time frame and complete their mini projects as early as possible.</p>
<p>Also, the following extra mini projects topics have been provided for both the 4<sup>th</sup> and 6<sup>th</sup> sem students to widen the topics coverage. This is in addition to the already provided list of topics.</p>
<table border="1">
<tbody>
<tr>
<td width="72">Project Sl No (For 4<sup>th</sup> Sem Students)</td>
<td width="90">Project Sl No (For 6<sup>th</sup> sem students)</td>
<td width="462">Topic (Contact person: Parul Madan (Email: parulmadaan1 AT gmail.com )</td>
</tr>
<tr>
<td width="72">71</td>
<td width="90">75</td>
<td width="462">Designing a real state selling portal</td>
</tr>
<tr>
<td width="72">72</td>
<td width="90">76</td>
<td width="462">Online Paying Guest Accommodation</td>
</tr>
<tr>
<td width="72">73</td>
<td width="90">77</td>
<td width="462">Online Newspaper Delivery Management System</td>
</tr>
<tr>
<td width="72">74</td>
<td width="90">78</td>
<td width="462">Social Networking App for Student Developers</td>
</tr>
<tr>
<td width="72">75</td>
<td width="90">79</td>
<td width="462">COVID-19 Website/App/WebApp</td>
</tr>
<tr>
<td width="72">76</td>
<td width="90">80</td>
<td width="462">Online Charity Management System</td>
</tr>
<tr>
<td width="72">77</td>
<td width="90">81</td>
<td width="462">Ecommerce Backend Security using Biometric Authentication</td>
</tr>
<tr>
<td width="72">78</td>
<td width="90">82</td>
<td width="462">Online Personal Counselling</td>
</tr>
<tr>
<td width="72">79</td>
<td width="90">83</td>
<td width="462">Online Second-hand Book Buying &amp; Selling Portal</td>
</tr>
<tr>
<td width="72">80</td>
<td width="90">84</td>
<td width="462">Online Unused Medicine Donation for NGOs</td>
</tr>
<tr>
<td width="72">81</td>
<td width="90">85</td>
<td width="462">Online Private Tutors Finder System</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2150 -->

<article id="post-2145" class="post-2145 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Mini Project Evaluation Information</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-05-07T18:08:35+05:30">May 7, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Mini Project Evaluation Information</u></strong></p>
<p>The mini project evaluations for 4<sup>th</sup> and 6<sup>th</sup> semesters are being scheduled tentatively from 14<sup>th</sup> May, 2020. All students are advised to complete their projects as early as possible.</p>
<p>The evaluation will happen in two parts:</p>
<ul>
<li>The students will be required to record a video describing and displaying their work. The video and the code have to be submitted. (How to submit the video and code files will be notified in a separate notice. If you have completed your work you may record your video at the earliest to avoid last minute rush)</li>
<li>Their will be a viva with the evaluator faculty member through any online tool like Skype, Google Meet, Say Namaste, Zoom etc (You will be provided a meeting link through which you will have to connect to the faculty member at the designated time)</li>
</ul>
<p>You are advised to keep a watch on this website for detailed notice in a few days.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2145 -->

<article id="post-2143" class="post-2143 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a  rel="bookmark">Notice: Mid Term Make Up Lab Exams</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-05-07T18:06:13+05:30">May 7, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Notice: Mid Term Make Up Lab Exams</u></strong></p>
<p>The Mid Term Make Up Lab exams are being scheduled very shortly. All students who filled up their forms are advised to be ready and prepared.</p>
<p>The lab exams will be held online. The test link will be emailed to each individual student as and when the schedule is prepared.</p>
<p>Since the test links are to be emailed it is utmost important that correct email ids are available. Few students have provided their email ids while filling the forms, but some students did not fill up the email ids. Also, it may pe possible that some of the emails require updation.</p>
<p>The currently available emails for the students who filled the forms are available in the following link:</p>
<p><a href="https://www.csitgeu.in/wp/makeup20/listwithemail.xlsx">https://www.csitgeu.in/wp/makeup20/listwithemail.xlsx</a></p>
<p>All students whose email ids are not available are required to provide their email ids immediately. Also, those students whose email ids are available but want to update are also required to provide their updated email ids.</p>
<p>Please provide your email ids latest by Saturday, 9<sup>th</sup> May, 2020 by filling the information in the following link:</p>
<p><a href="https://forms.gle/roqGcxKHvkLeCBcz9">https://forms.gle/roqGcxKHvkLeCBcz9</a></p>
<p>Please note that without your email ids it will not be possible to appear in the make up lab exams and in that case you will be marked absent.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2143 -->
</div>
<%-include("../partials/footer")%>