<%-include("../partials/header")%>
<div class="transbox">
<article id="post-2340" class="post-2340 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title">LinkedIn Internships for 2022 pass out batch (pre-final year students)</h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-11-21T10:08:12+05:30">November 21, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Notice: LinkedIn Internships for 2022 pass out batch (pre-final year students)</u></strong></p>
<p>LinkedIn is offering Summer Internship program for students currently in their pre-final year of degree (2022 passing out batch) for the Site Reliability Engineering team. This is open to students across branches with a knowledge/inclination to Dev Ops/Systems along with some level of coding experience/knowledge.</p>
<p>The last date for the registration is 23rd November 2020.</p>
<p>Registration Link:  <a href="https://forms.gle/cFU4aDQgkMSchVat9">https://forms.gle/cFU4aDQgkMSchVat9</a></p>
<p>An internship in LinkedIn allows one to work side by side with some of the best and brightest minds in the tech industry.</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2340 -->
<article id="post-2337" class="post-2337 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title">Departmental Nodal Team for Examinations</h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-11-16T12:14:10+05:30">November 16, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Departmental Nodal Team for Examinations</u></strong></p>
<p>The End Term exams 2020 for 3<sup>rd</sup>, 5<sup>th</sup> and 7<sup>th</sup> semester students are commencing on 17th November 2020 as per schedule already displayed. You must be already aware of the rules and regulations regarding the exam modalities. Please note carefully regarding the timings.</p>
<p>The Department has constituted the following Nodal Team to look into any last-minute problem arising on the days of exam. You may contact any of the following members if you encounter any significant issues. However, keep in mind that you should contact the committee member(s) only if your issue remains unresolved by contacting any of the grievance handling numbers in the Rules and Regulations document.</p>
<p>Also note that answer scripts are to be compulsorily uploaded in the LMS exam platform. No submissions through emails are accepted.</p>
<p><strong>CSIT Nodal Committee for Exam Related Issues:</strong></p>
<ol>
<li>Ankur Choudhary (Nodal Officer)-9760316521</li>
<li>Sumit Pundir (Member)-9997219039</li>
<li>Parul Madan (Member)-9557840852</li>
<li>Hemant Pokhriya (Member) -9634749537</li>
<li>Noor Mohd. (Member) -9897404423</li>
</ol>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2337 -->
<article id="post-2335" class="post-2335 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title">Important Instructions Regarding End Term Exams</h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-11-16T12:04:52+05:30">November 16, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Important Instructions Regarding End Term Exams</u></strong></p>
<p>The End Term Exam duration is of 2 hours and 30 minutes (1 Hour for MCQ and another 90 minutes for Subjective part). Another 30 minutes after that are given for uploading. The whole process of giving the exam and uploading is thus 3 hours (2 hours 30 minutes for the exam and 30 minutes for uploading). For the morning session you must upload the answer script by 12.30 PM and for the Evening session you must upload the answer script by 4.30 PM.</p>
<p>All students must submit their subjective answers only on the LMS platform. No student is allowed to send it on emails.</p>
<p>If fail to upload on LMS, students may have to repeat the exam.</p>
<p>If you see Incomplete upload you can go with the submit option, it will be updated after some time.</p>
<p>Note: If you are unable to upload the pdf/jpeg file. Kindly refresh the page before uploading.</p>
<p>The MCQ part is of 40 marks and Subjective Part is of 60 marks. Note that for the MCQ part you may have different number of questions in different subjects (some subjects may have 40 questions of 1 mark each, some subjects may have 20 questions of 2 mark each, some subjects may have 20 questions of 1 mark each and 10 questions of 2 marks each or any such combinations). In the subjective part you have to answer 6 questions each of 10 marks (may be subdivided).</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2335 -->
<article id="post-2333" class="post-2333 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Registration for Microsoft Imagine Cup</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-11-11T13:18:57+05:30">November 11, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Registration for Microsoft Imagine Cup</u></strong></p>
<p>Imagine Cup is an annual competition sponsored and hosted by Microsoft Corp. which brings together student developers worldwide to help resolve some of the world&#8217;s toughest challenges. It is considered as &#8220;Olympics of Technology&#8221; by computer science and engineering and is considered one of the top competitions and awards related to technology and software design.</p>
<p>Microsoft now announces its 2021 edition of Imagine Cup. Students can register for the 2021 Imagine Cup competition and blend their passion and purpose with technology to make a difference around the globe.</p>
<p>Get started in a few easy steps:</p>
<ol>
<li><a href="https://azure.microsoft.com/email/?destination=https%3A%2F%2Fimaginecup.microsoft.com%2F%3Focid%3Dpre_em_reglaunch_text_all&amp;p=bT03ZDcwMGYxMS1jNTA0LTQzYjctYTY4Yy0zMTM4NjQwYjU4YzAmdT1hZW8mbD1pbWFnaW5lY3VwLm1pY3Jvc29mdC5jb21fMg%3D%3D">Register for the Imagine Cup</a>.</li>
<li>Complete the Microsoft Learn Challenge to start building skills for your project. Your Learn Challenge submission will be entered for a chance to win one of five monthly prizes of USD250.</li>
<li>Form a team of up to four people to develop an original solution in one competition category—Earth, Education, Healthcare, or Lifestyle. Submit your entry to the Imagine Cup Online Semifinals by January 29, 2021.</li>
</ol>
<p>Event Schedule:</p>
<ol>
<li>Registration + Submission</li>
</ol>
<p>Now – January 2021</p>
<ol>
<li>Online Semifinals</li>
</ol>
<p>February 2021</p>
<ol>
<li>World Finals</li>
</ol>
<p>March 2021</p>
<ol>
<li>World Championship</li>
</ol>
<p>Date TBA</p>
<p>For details you can visit: <a href="https://imaginecup.microsoft.com/en-us/Events?id=0">https://imaginecup.microsoft.com/en-us/Events?id=0</a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2333 -->

<article id="post-2332" class="post-2332 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mini Project Evaluation for 3rd and 5th Sem</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-11-09T12:44:38+05:30">November 9, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong></p>
<p><strong><u>Mini Project Evaluation for 3<sup>rd</sup> and 5<sup>th</sup> Sem</u></strong></p>
<p>The evaluation of Mini Project for 3<sup>rd</sup> and 5<sup>th</sup> Semester will be held immediately after the end term exams. The exact due dates will be announced shortly. Students are advised to complete their work as soon as possible. Those students who have completed their work can keep their work ready. The evaluation process is detailed below:</p>
<p>Each student has to prepare the following:</p>
<ol>
<li>Video Presentation: Each student should prepare a video presentation of atleast 15 minutes giving complete details of their project. Wherever possible, the video should contain a demonstration of the project. The student should talk about the problem statement and motivation, the methodology followed, tools/languages used, working of the project, what new things he/she learned in the project. The video presentation should be named as UniversityRollNo_miniproject.extension (e.g.,2012011_miniproject.mp4)</li>
<li>Soft Copy Report Submission: Students should prepare a very short report on their work. Along with the title of the project, student name and roll no, the report should contain the problem statement, a brief motivation for doing the project and the methodology followed. The report should NOT exceed more than 5 pages. Name the report as UniversityRollNo_miniprojectreport.docx/pdf (e.g., 2012011_miniprojectreport.docx)</li>
</ol>
<p>Due date of submission and how to submit will be announced shortly.</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2332 -->

<article id="post-2328" class="post-2328 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Assessment Test for Sessional Marks, Schedule of Data Structures (3rd Sem) on 7th Nov, 2020</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-11-04T08:56:56+05:30">November 4, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u> </u></strong><strong><u>Assessment Test for Sessional Marks, Schedule of Data Structures (3<sup>rd</sup> Sem) on 7<sup>th</sup> Nov, 2020</u></strong></p>
<p>An MCQ based assessment will be held for all subjects to account for the internal(sessional) marks. Each test will be of 25 minutes duration and will consist of 20 MCQ questions. A single MCQ test will cover both theory and lab components.</p>
<p>The tests will start on 7th Nov, 2020, Saturday and will end before Diwali. The schedule of all subjects will be displayed soon. On 7<sup>th</sup> Nov, 2020, Saturday the MCQ for Data Structures for 3<sup>rd</sup> semester is scheduled. The test is scheduled from 10 AM to 10.25 AM and will be held through exam.geu.ac.in. Appearing in the test is compulsory as the sessional marks will be completely dependent on it.</p>
<p>Special Instructions regarding the DS Exams:</p>
<ol>
<li>For theory: 20 Marks sessional from the MCQ test and 5 Marks from attendance (based on views of lectures)</li>
<li>For Lab: 20 marks sessional from MCQ test and 5 Marks from attendance (based on views of lectures)</li>
<li>Questions will be completely based on the Lecture Videos and questions will be included from each video. Hence you are advised to go through the Lecture Videos in detail</li>
</ol>
<p>For your easy reference the list of lecture videos and the URLs are provided below</p>
<h1>1. Introduction to Data Structures &amp; its classification</h1>
<p><a href="https://youtu.be/tUUQ-LhVfsk">https://youtu.be/tUUQ-LhVfsk</a></p>
<h1> 2. Data Structures: Implementation of Stack using Array</h1>
<p><a href="https://youtu.be/tiZM96qLWlg">https://youtu.be/tiZM96qLWlg</a></p>
<h1>3. Implementation of Queue using Array | Data Structures</h1>
<p><iframe title="Implementation of Queue using Array | Data Structures | Lec-3 | Prof. Kamal Ghanshala | Graphic Era" width="474" height="267" src="https://www.youtube.com/embed/xVg5Pd5hnjQ?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h1>4. C Program for Stack using Linked List and Single Pointer</h1>
<p><a href="https://youtu.be/pkcG0A5hwiY">https://youtu.be/pkcG0A5hwiY</a></p>
<h1>5. C Program for Stack using Linked List and Double Pointer</h1>
<p><a href="https://youtu.be/GFQOIH_GLAs">https://youtu.be/GFQOIH_GLAs</a></p>
<h1>6. Circular Linked List &#8211; Implementation &amp; Applications</h1>
<p><a href="https://youtu.be/BFecGhUZzkw">https://youtu.be/BFecGhUZzkw</a></p>
<h1>7.  Circular Linked List Algorithm | Prof. Kamal Ghanshala</h1>
<p><a href="https://youtu.be/OFEvyDshOIw">https://youtu.be/OFEvyDshOIw</a></p>
<h1> 8. Lecture on Doubly Linked List &#8211; Concept</h1>
<p><a href="https://youtu.be/_88VmjBzWFA">https://youtu.be/_88VmjBzWFA</a></p>
<h1>9. C Program for Doubly Linked List &#8211; Implementation</h1>
<p><a href="https://youtu.be/fzW9ovFZi04">https://youtu.be/fzW9ovFZi04</a></p>
<h1>10. Binary Search Tree (BST) Fundamentals Explained</h1>
<p><a href="https://youtu.be/CIYpfvubI9g">https://youtu.be/CIYpfvubI9g</a></p>
<h1>11 . Construct a Binary Search Tree (BST) using single pointer-Program</h1>
<p><a href="https://youtu.be/_dPHLO_i_lE">https://youtu.be/_dPHLO_i_lE</a></p>
<h1>12.  Binary Search Tree Traversal Program | Inorder,Pre &amp; Postorder</h1>
<p><a href="https://youtu.be/yH2i2xxJavY">https://youtu.be/yH2i2xxJavY</a></p>
<ol start="13">
<li>C Program for inserting nodes in BST using Double Pointer</li>
</ol>
<p><a href="https://youtu.be/zdUH9rBactQ">https://youtu.be/zdUH9rBactQ</a></p>
<ol start="14">
<li><strong>Binary Search Tree (BST) Creation in 4 minutes</strong></li>
</ol>
<p><a href="https://youtu.be/81aJt05gOCk">https://youtu.be/81aJt05gOCk</a></p>
<h1>15. Binary Search Tree (BST) &#8211; Deletion in less than 4 mins</h1>
<p><a href="https://youtu.be/I6u2q_291tU">https://youtu.be/I6u2q_291tU</a></p>
<h1>16. Huffman Algorithm and Huffman Coding with Example</h1>
<p><a href="https://youtu.be/HRayG7hGJ5g">https://youtu.be/HRayG7hGJ5g</a></p>
<h1></h1>
<h1>17. Linked Representation of a Graph | Data Structure</h1>
<p><a href="https://youtu.be/KUQjDE91lZs">https://youtu.be/KUQjDE91lZs</a></p>
<h1>18. Graph Traversal : Breadth First Search (BFS) with Example</h1>
<p><a href="https://youtu.be/bm2Dto8hJWc">https://youtu.be/bm2Dto8hJWc</a></p>
<h1>19. Graph Traversal : Depth First Search (DFS) with Example</h1>
<p><a href="https://youtu.be/75cjf4EtPzI">https://youtu.be/75cjf4EtPzI</a></p>
<h1>20. Lecture on Dijkstra’s Algorithm</h1>
<p><a href="https://youtu.be/wn5GA58giXY">https://youtu.be/wn5GA58giXY</a></p>
<h1>21.  Bellman Ford Algorithm | Shortest Path | Dynamic Programming</h1>
<p><a href="https://youtu.be/ZCodT53pdFo1">https://youtu.be/ZCodT53pdFo1</a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2328 -->
</div>
<%-include("../partials/footer")%>