<%-include("../partials/header")%>
<div class="transbox">
<article id="post-2327" class="post-2327 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Rescheduling of Mid Lab Exams (30 Oct 2020)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-10-28T10:24:23+05:30">October 28, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<strong><u>Rescheduling of Mid Lab Exams</u></strong>

All the Mid-Tern Lab Exams scheduled on Friday, 30 Oct 2020 are shifted and now rescheduled on Tuesday, 03 Nov 2020 due to Adobe Test. Time of Exam will remain same.

Data Science using Scala Lab for 5<sup>th</sup> Sem DS and ML students scheduled on 29<sup>th</sup>Oct, 2020 is rescheduled on 2<sup>nd</sup> November, 2020. Start Time is 10 AM	</div><!-- .entry-content -->
	
	</article><!-- #post-2327 -->

<article id="post-2321" class="post-2321 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mid-Term Lab Exams Notice for 3rd and 5th Semester (Updated Timings)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-10-20T15:38:38+05:30">October 20, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<div pagelayer-id="1rucbw4qtfzlpq8u" class="pagelayer-row">
			
			
			
			
			
			<div class="pagelayer-row-holder pagelayer-row pagelayer-auto pagelayer-width-{{width_content}}">
<div pagelayer-id="0e4jmtm4939d1dmy" class="pagelayer-col pagelayer-col-12">
			
				
				
				
				<div class="pagelayer-col-holder">
<div pagelayer-id="v3r7vdjwjxp5hmvh" class="pagelayer-text">
			<div class="pagelayer-text-holder">
<strong><u>Mid-Term Lab Exams Notice for 3<sup>rd</sup> and 5<sup>th</sup> Semester</u></strong>

The Regular Mid-Term Lab Exams of 3<sup>rd</sup> and 5<sup>th</sup> Semester Students will held as per the following schedule.

The Exams are for 25 marks. The break up of marks is: 10 Marks MCQ and 15 Marks Writeup.

Due to current situation the exams will be held online through exam.geu.ac.in

Exam Process and Time Information:

You will login to the exam portal with your username and password at the given start time as in the schedule (9AM in morning and 2PM in afternoon)

You will first attempt the MCQ test. You will get 15 minutes for the MCQ test. So, for an exam in the morning session the MCQ will end at 9.15 AM and for the afternoon session the MCQ will end at 2.15 PM.

The writeup part will start immediately after the MCQ, i.e., at 9.15 AM for the morning session and 2.15 PM at the evening session.

You will get 40  minutes for writeup and 20 minutes for uploading. This means you should upload your answer script in the morning session by 10.15 AM and in the evening session by 3.15 PM.

No other mode of submission will be entertained under any circumstances.

<a href="http://csitgeu.in/wp/midlab2020.xlsx">Click Here for the Exam Schedule</a>
</div></div>
</div></div>
</div></div>	</div><!-- .entry-content -->
	
	</article><!-- #post-2321 -->
<article id="post-2318" class="post-2318 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Parent’s Feedback Form</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-10-17T10:10:56+05:30">October 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<div><b>Parent’s Feedback
</b></div>
<div><a href="https://docs.google.com/forms/d/e/1FAIpQLSecYtX7BTxebsXXlfGzsRIr25blAf7ybtlD56V7pKZgjorZGw/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=https://docs.google.com/forms/d/e/1FAIpQLSecYtX7BTxebsXXlfGzsRIr25blAf7ybtlD56V7pKZgjorZGw/viewform?usp%3Dsf_link&amp;source=gmail&amp;ust=1602995522712000&amp;usg=AFQjCNHlX98Y8fAvxQ222eh7zCSGJdWKwA">https://docs.google.com/forms/<wbr />d/e/<wbr />1FAIpQLSecYtX7BTxebsXXlfGzsRIr<wbr />25blAf7ybtlD56V7pKZgjorZGw/<wbr />viewform?usp=sf_link</a></div>	</div><!-- .entry-content -->
	
	</article><!-- #post-2318 -->
<article id="post-2316" class="post-2316 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">STUDENTS FEEDBACK ON CURRICULUM</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-10-17T10:09:59+05:30">October 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<div><b>STUDENTS FEEDBACK ON CURRICULUM</b></div>
<div><a href="https://docs.google.com/forms/d/e/1FAIpQLSdNvnH7gxN4xA3za4wgCeRjIXDTyRf1kXb1q4OpD0O9WbmOGA/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=https://docs.google.com/forms/d/e/1FAIpQLSdNvnH7gxN4xA3za4wgCeRjIXDTyRf1kXb1q4OpD0O9WbmOGA/viewform?usp%3Dsf_link&amp;source=gmail&amp;ust=1602995522712000&amp;usg=AFQjCNFrJKAvOnkjDdqteeqD9RpPw6Lc2Q">https://docs.google.com/forms/<wbr />d/e/<wbr />1FAIpQLSdNvnH7gxN4xA3za4wgCeRj<wbr />IXDTyRf1kXb1q4OpD0O9WbmOGA/<wbr />viewform?usp=sf_link</a><b>
</b></div>	</div><!-- .entry-content -->
	
	</article><!-- #post-2316 -->
<article id="post-2314" class="post-2314 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">ALUMNI FEEDBACK FORM</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-10-17T10:09:15+05:30">October 17, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<div><b>ALUMNI FEEDBACK</b></div>
<div><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-pmEbJ754ta5scEYBXcaieOMRkxz_QH4Puxog5vPZhLRi0Q/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=https://docs.google.com/forms/d/e/1FAIpQLSe-pmEbJ754ta5scEYBXcaieOMRkxz_QH4Puxog5vPZhLRi0Q/viewform?usp%3Dsf_link&amp;source=gmail&amp;ust=1602995522712000&amp;usg=AFQjCNHHhZrjvOe0bQY8DP067YhqjQi5iQ">https://docs.google.com/forms/<wbr />d/e/1FAIpQLSe-<wbr />pmEbJ754ta5scEYBXcaieOMRkxz_<wbr />QH4Puxog5vPZhLRi0Q/viewform?<wbr />usp=sf_link</a></div>	</div><!-- .entry-content -->
	
	</article><!-- #post-2314 -->
<article id="post-2311" class="post-2311 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">30 Immediate Openings for AWS Solution Architect Certified Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-10-12T12:56:04+05:30">October 12, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p style="text-align: center;"><strong>30 Immediate Openings for AWS Solution Architect Certified Students</strong></p>
The following has been offered by our Industry Partner for the benefit of GEU students:

Empowering the next generation of cloud computing professionals is a priority at AWS, and we are thrilled to bring the following position to your attention. Virtusa (www.virtusa.com), an AWS APN Premier Consulting Partner, is seeking 30 (Thirty) Certified Associate Solutions Architects. This is a full time IMMEDIATE opportunity with Virtusa.

Please share information about this role with your AWS Certified Academy graduates:

• Job Description: BE (IT, CSE, E&amp;C, E &amp; C) OR MCA OR MSc – should be definitely AWS Solution Architect – Associate certified
• Location: Chennai, Hyderabad
• Application deadline – 15th Oct

Students who meet the criterion (only Solutions Architect – Associate certified) can directly apply for the position at the following url - https://tinyurl.com/y27s4l37

Please note that the hiring is Immediate

a) Students who cannot join the organization in the next 1-2 months (ideally 2020 graduates and students who will graduate in 2021) should not apply
b) DO NOT submit CV’s who are not Solutions Architect – Associate certified	</div><!-- .entry-content -->
	
	</article><!-- #post-2311 -->
<article id="post-2308" class="post-2308 post type-post status-publish format-standard hentry category-latest">
	<header class="entry-header">
			
			<h1 class="entry-title"><a rel="bookmark">Final Year Major Project Initiation for 7th Semester Students</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-10-08T15:50:11+05:30">October 8, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Final Year Major Project Initiation for 7<sup>th</sup> Semester Students</u></strong></p>
<p>The Final Year Students currently in 7<sup>th</sup> Semester are to initiate their final year major project. While the final year project is a core essential part of your BTech degree, it is also highly valued for future career, since it supports students engaging in realistic activities which reinforce their understanding of the discipline, and draws on skills acquired in different modules throughout their degree.</p>
<ol>
<li>Choose a topic which where you will apply knowledge and skills you have gained from the courses taught and the skills you have gained through internships, self-study etc. Students are expected to apply good practice they have already learned during previous semesters, as well as learning any new technologies and other material which may be necessary to progress their work.</li>
<li>Try to choose a topic which will be a great value addition to your career.</li>
<li>Each student will work under a supervisor, who would normally be from the Computer Science Department, but supervisors from other departments or premier institutes/Industry are acceptable on case-to-case basis (see point no 7). Broad areas in which Department Supervisors will offer guidance is enlisted in the following table.</li>
<li>Talk with your supervisor to choose topics that solve real world problems, society problems, technical problems and topics that aims to handle current and future industry trends</li>
<li>A Final year project has to have a major implementation part, either in code or hardware or both. It cannot be a completely theoretical topic.</li>
<li>There are four “deliverables” — an initial formal title and abstract of their project (by 20<sup>th</sup> October, 2020), a complete Design Document after End-Term Exams of 7<sup>th</sup> semester, a progress report/presentation at around Feb 2021, and a final demonstration with complete report submission at the end of 8<sup>th</sup></li>
<li>The Department also encourages Inter-disciplinary, Inter-University, Industry-collaborative projects.<br />
For Inter-Disciplinary Projects (for example Biotechnology-Computer Science, Electronics-Computer Science etc.) you can have two or more supervisors from all the concerned Departments<br />
For Inter-University projects you can have supervisors from GEHU or from Premiere Institutes (IITs , NITs and IIITs only). A co-supervisor from the Department can be taken.<br />
For Industry Collaborative Projects you can have supervisors from Prominent Industries (Major organizations only like IBM, Oracle, Amazon etc). A co-supervisor from the Department can be taken.<br />
For Inter-Disciplinary, Inter-University and Industry-Collaborative projects you need to take prior permission. Send a mail to : indialorATgmail.com</li>
<li>Projects can be done individually or in groups. Maximum four students is allowed in a group.</li>
<li>Please fill up the initial details and abstract in the given link by 20<sup>th</sup> Oct, 2020. For group projects please ensure that only one of you is submitting, DONOT submit multiple entries. Link: <a href="https://forms.gle/bRTzUieppMDryGkd9">https://forms.gle/bRTzUieppMDryGkd9</a></li>
</ol>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td width="66">Sl No</td>
<td width="180">Faculty</td>
<td width="378">Areas for Supervision / Projects</td>
</tr>
<tr>
<td width="66">1</td>
<td width="180">Akanksha Kapurwan</td>
<td width="378">Programming Languages, Web Technologies</td>
</tr>
<tr>
<td width="66">2</td>
<td width="180">Akansha Gupta</td>
<td width="378">Machine learning, Artificial Intelligence, Soft Computing</td>
</tr>
<tr>
<td width="66">3</td>
<td width="180">Akshay Rajput</td>
<td width="378">Machine learning, social media data mining, NLP, Artificial Intelligence</td>
</tr>
<tr>
<td width="66">4</td>
<td width="180">Ankit Tomar</td>
<td width="378">Social distancing alert based system in deep learning using crowd density estimation./ Deep Learning,</p>
<p>Crowd emotions recognition using advanced deep learning algorithms./ Deep Learning,</p>
<p>People anomaly detection using advanced deep learning algorithms./ Deep Learning</td>
</tr>
<tr>
<td width="66">5</td>
<td width="180">Ankur Choudhary</td>
<td width="378">Broad Area : Routing protocols for Wireless Sensor Networks</p>
<p>&nbsp;</p>
<p>Sample Project Topics:</p>
<p>Expected &#8211; basic understanding of Wireless Sensor Networks.</p>
<p>Task- Work out a well established hierarchical routing protocol, preferably using MATLAB (not restricted),  further the student is expected to extend this worked out implementation.</p>
<p>&nbsp;</p>
<p>Expected &#8211; basic understanding of Wireless Sensor Networks.</p>
<p>Task- Work out any two well established classical flat routing protocols, preferably using MATLAB (not restricted),  further the student is expected to carry out a relative study between the worked out implementations.</td>
</tr>
<tr>
<td width="66">6</td>
<td width="180">Ashish Garg</td>
<td width="378">Machine Learning, Data Analytics, Machine Learning</td>
</tr>
<tr>
<td width="66">7</td>
<td width="180">Ashwini Kumar</td>
<td width="378">Natural Language Processing, Speech Recognition, Deep Learning</td>
</tr>
<tr>
<td width="66">8</td>
<td width="180">Deepak Uniyal</td>
<td width="378">Natural Language Processing, Twitter Data Analysis, Information Retrieval</td>
</tr>
<tr>
<td width="66">9</td>
<td width="180">Devyani Rawat</td>
<td width="378">Programming Languages, Data Analytics</td>
</tr>
<tr>
<td width="66">10</td>
<td width="180">Dibyahash Bordoloi</td>
<td width="378">Superscalar Processor Architectures, Speculation in Processors, Virtual Scene Generation</td>
</tr>
<tr>
<td width="66">11</td>
<td width="180">Dr. Bhaskar Pant</td>
<td width="378">Machine Learning, Artificial Intelligence, Bioinformatics, Data Mining</td>
</tr>
<tr>
<td width="66">12</td>
<td width="180">Dr. Devesh Pratap Singh</td>
<td width="378">Wireless Sensor Networks, System Programming</td>
</tr>
<tr>
<td width="66">13</td>
<td width="180">Dr. Durgaprasad Gangodkar</td>
<td width="378">Computer Vision, Cloud Computing, Multicore Computing, Big Data Storage</td>
</tr>
<tr>
<td width="66">14</td>
<td width="180">Dr. Manoj Diwakar</td>
<td width="378">Medical Image denoising, Image Enhancement using fusion approach, Image Security using encryption/watermarking</td>
</tr>
<tr>
<td width="66">15</td>
<td width="180">Dr. Mohammad Wazid</td>
<td width="378">ML security, Blockchain based security protocols, Security and privacy protocols in healthcare informatics</td>
</tr>
<tr>
<td width="66">16</td>
<td width="180">Dr. Preeti Mishra</td>
<td width="378">Cloud Security, Android Security, Docker Security, IoT Security</td>
</tr>
<tr>
<td width="66">17</td>
<td width="180">Dr. Sachin Sharma</td>
<td width="378">IoT, Cloud Computing, VANET</td>
</tr>
<tr>
<td width="66">18</td>
<td width="180">Dr. Santosh Kumar</td>
<td width="378">Ubiquitous Computing, Software Engineering</td>
</tr>
<tr>
<td width="66">19</td>
<td width="180">Dr. Sharad Gupta</td>
<td width="378">Image Processing, Machine Learning</td>
</tr>
<tr>
<td width="66">20</td>
<td width="180">Dr. Sourabh Jain</td>
<td width="378">IOT based Manhole Detection and Monitoring System,</p>
<p>IOT Based Automatic Vehicle Accident Detection and Rescue System,</p>
<p>IOT Based Toll Booth Manager System</td>
</tr>
<tr>
<td width="66">21</td>
<td width="180">Dr. Vijay Singh</td>
<td width="378">IoT, Recommender Systems, Data Analytics, Cloud Computing, Web Technologies</td>
</tr>
<tr>
<td width="66">22</td>
<td width="180">Dr. Vikas Tripathi</td>
<td width="378">Computer Vision , Machine learning, Image Processing</td>
</tr>
<tr>
<td width="66">23</td>
<td width="180">Garima Sharma</td>
<td width="378">Data Mining, Machine Learning, Data Analysis</td>
</tr>
<tr>
<td width="66">24</td>
<td width="180">Hemant Singh Pokhariya</td>
<td width="378">Land cover classification of remote sensing data,</p>
<p>Optimized machine learning scheme of land cover Classes,</p>
<p>LANDSAT  data,</p>
<p>Effect of Urbanisation on other land cover classes</td>
</tr>
<tr>
<td width="66">25</td>
<td width="180">Himanshu Rai Goyal</td>
<td width="378">Wireless Sensor Networks, IoT</td>
</tr>
<tr>
<td width="66">26</td>
<td width="180">Kireet Joshi</td>
<td width="378">Data Mining, Machine Learning, Software Engineering</td>
</tr>
<tr>
<td width="66">27</td>
<td width="180">Manish Mahajan</td>
<td width="378">Anomaly Analysis, Cryptography</td>
</tr>
<tr>
<td width="66">28</td>
<td width="180">Manish Sharma</td>
<td width="378">Web Technologies, Artificial Intelligence, Mobile Applications</td>
</tr>
<tr>
<td width="66">29</td>
<td width="180">Neha Tripathi</td>
<td width="378">Software Engineering</td>
</tr>
<tr>
<td width="66">30</td>
<td width="180">Nisha Chaube</td>
<td width="378">Programming Languages</td>
</tr>
<tr>
<td width="66">31</td>
<td width="180">Noor Mohd</td>
<td width="378">Intrusion Detection System,Mobile Adhoc Networks, Wireless Sensor Networks,Self Configurable Networks</td>
</tr>
<tr>
<td width="66">32</td>
<td width="180">Palak Agarwal</td>
<td width="378">Web Technologies, Programming Languages</td>
</tr>
<tr>
<td width="66">33</td>
<td width="180">Pankaj Kumar</td>
<td width="378">Systems Programming, Programming Languages</td>
</tr>
<tr>
<td width="66">34</td>
<td width="180">Parul Madan</td>
<td width="378">Databases, Web Technology, Wireless Sensor Networks</td>
</tr>
<tr>
<td width="66">35</td>
<td width="180">Piyush agarwal</td>
<td width="378">IoT, Big Data Analytics</td>
</tr>
<tr>
<td width="66">36</td>
<td width="180">Prabhjot Singh</td>
<td width="378">Crowd counting  using deep learning , Deep learning, Computer Vision , Natural Language Processing</td>
</tr>
<tr>
<td width="66">37</td>
<td width="180">Priyank Pandey</td>
<td width="378">Databases, Web Technologies, Machine Learning, Natural Language Processing</td>
</tr>
<tr>
<td width="66">38</td>
<td width="180">Ramesh Singh Rawat</td>
<td width="378">IoT, Multimedia</td>
</tr>
<tr>
<td width="66">39</td>
<td width="180">Ruchira Rawat</td>
<td width="378">Programming Languages, Algorithms</td>
</tr>
<tr>
<td width="66">40</td>
<td width="180">Sanjeev Kukreti</td>
<td width="378">Web Technologies</td>
</tr>
<tr>
<td width="66">41</td>
<td width="180">Sarishma</td>
<td width="378">Blockchain, Cloud security, Docker</td>
</tr>
<tr>
<td width="66">42</td>
<td width="180">Saurabh Kumar Mishra</td>
<td width="378">Algorithms, Data Mining , Sentiment Analysis</td>
</tr>
<tr>
<td width="66">43</td>
<td width="180">Siddharth Gupta</td>
<td width="378">Machine Learning, Deep Learning, Mobile Communications(4G Volte)</td>
</tr>
<tr>
<td width="66">44</td>
<td width="180">Sumit Pundir</td>
<td width="378">Computer Networks</td>
</tr>
<tr>
<td width="66">45</td>
<td width="180">Swati Devliyal</td>
<td width="378">IOT,ITS,ML</td>
</tr>
<tr>
<td width="66">46</td>
<td width="180">Upendra Ashwal</td>
<td width="378">Data Structures</td>
</tr>
<tr>
<td width="66">47</td>
<td width="180">Vikas Tomer</td>
<td width="378">Data Science, Machine Learning</td>
</tr>
<tr>
<td width="66">48</td>
<td width="180">Vishan Kumar Gupta</td>
<td width="378">Data Science, Artificial Intelligence</td>
</tr>
<tr>
<td width="66">49</td>
<td width="180">Vishu Tyagi</td>
<td width="378">Opinion Mining, Information Retrieval, Recommender System</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
</article><!-- #post-2308 -->

<article id="post-2306" class="post-2306 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mid-Term Make Up Practical Exam Schedule</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-10-08T14:29:07+05:30">October 8, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Mid-Term Make Up Practical Exam Schedule</u></strong></p>
<p>The Odd Semester Back End Practical will be held according to the following schedule. Only those students who have filled the forms are eligible to appear for the exams. The list of students who have filled the forms can be seen here: <a href="https://csitgeu.in/wp/makeup20/midBackLab20.xlsx">Click Here</a></p>
<p>Due to the prevailing pandemic situation, the exams will be held online. The exams will consist of two parts- One MCQ/Viva (10 Marks) and other Write Up (15 Marks). You will login to exam.geu.in on the designated day and time with your login and password. Wherever Viva is taken in place of MCQ the concerned faculty member will call you for viva on the number given by you during form fill-up. If you gave a number which is currently not working, it is your responsibility to contact the faculty member within the given time slot.</p>
<p>If you are a pass-out student and do not have a login in exam.geu.ac.in contact the concerned faculty member at least one day before the exam for alternate modalities.</p>
<p>Note: This is a notice for Make Up exam only. Regular Lab Exams will be notified later.</p>
<p>&nbsp;</p>
<table width="749">
<tbody>
<tr>
<td colspan="6" width="749"><strong>Mid Term Make Up Practical  Schedule</strong></td>
</tr>
<tr>
<td width="31"><strong>Sn</strong></td>
<td width="194"><strong>Subject Name(Subject Code)</strong></td>
<td width="76"><strong>Branch</strong></td>
<td width="168"><strong>Date/Time</strong></td>
<td width="156"><strong>Name of the faculty</strong></td>
<td width="124"><strong>Contact No.</strong></td>
</tr>
<tr>
<td width="31">1.</td>
<td width="194">Data Structures Lab (PCS302)</td>
<td width="76">CSE</td>
<td width="168">17 Oct, 2020</p>
<p>2PM-5PM</td>
<td width="156">Mr. Upendra Aswal</td>
<td width="124">9410712790</td>
</tr>
<tr>
<td width="31">2.</td>
<td width="194">Database Management System Lab (PCS362)</td>
<td width="76">CSE</td>
<td width="168">14 Oct, 2020</p>
<p>10AM-1PM</td>
<td width="156">Ms. Parul Madan</td>
<td width="124">9557840852</td>
</tr>
<tr>
<td width="31">3.</td>
<td width="194">Logic Design Lab (PCS301)</td>
<td width="76">CSE,IT</td>
<td width="168">15 Oct, 2020</p>
<p>10AM-1 PM</td>
<td width="156">Mr. Hemant Singh Pokharyia</td>
<td width="124">9634749537</td>
</tr>
<tr>
<td width="31">4.</td>
<td width="194">OOPS with  C++ Lab (PCS307)</td>
<td width="76">CSE,IT</td>
<td width="168">14 Oct, 2020</p>
<p>2PM-5PM</td>
<td width="156">Mr. Kireet Joshi</td>
<td width="124">7500275404</td>
</tr>
<tr>
<td width="31">5.</td>
<td width="194">Unix &amp; Shell Programming Lab (PCS303)</td>
<td width="76">CSE,IT</td>
<td width="168">15 Oct, 2020</p>
<p>2PM-5PM</td>
<td width="156">Mr. Sanjeev Kukreti</td>
<td width="124">9997226690</td>
</tr>
<tr>
<td width="31">6.</td>
<td width="194">Mini Project (CSP301)</td>
<td width="76">CSE</td>
<td width="168">Deadline 15 Oct, 2020, 5 PM</td>
<td width="156">Mr. Piyush Agarwal</td>
<td width="124">piyush221292 AT gmail.com</td>
</tr>
<tr>
<td width="31">7.</td>
<td width="194">Operating Systems Lab (PCS506)</td>
<td width="76">CSE,IT</td>
<td width="168">14 Oct, 2020</p>
<p>10AM-1PM</td>
<td width="156">Dr. Vikas Tripathi</td>
<td width="124">7060734224</td>
</tr>
<tr>
<td width="31">8.</td>
<td width="194">Operating System Lab +Unix (PCS506)</td>
<td width="76">CSE</td>
<td width="168">14 Oct, 2020</p>
<p>10AM-1PM</td>
<td width="156">Mr. Ankur Chaudhary</td>
<td width="124">9760316521</td>
</tr>
<tr>
<td width="31">9.</td>
<td width="194">Data Base Management Systems Lab (PCS503)</td>
<td width="76">CSE,IT</td>
<td width="168">15 Oct, 2020</p>
<p>10 AM-1PM</td>
<td width="156">Ms. Vishu Tyagi</td>
<td width="124">9990456207</td>
</tr>
<tr>
<td width="31">10.</td>
<td width="194">Bigdata Storage and Processing  Lab (PCS551)</td>
<td width="76">CSE</td>
<td width="168">15 Oct, 2020</p>
<p>2 PM-5PM</td>
<td width="156">Dr. Vijay Singh</td>
<td width="124">9760322316</td>
</tr>
<tr>
<td width="31">11.</td>
<td width="194">Cloud Based Application Development &amp; Management Lab (PCS552)</td>
<td width="76">CSE</td>
<td width="168">15 Oct, 2020</p>
<p>2 PM-5PM</td>
<td width="156">Dr. Sachin Sharma</td>
<td width="124">8319682981</td>
</tr>
<tr>
<td width="31">12.</td>
<td width="194">Computer System Security Lab (PCS591)</td>
<td width="76">CSE</td>
<td width="168">15 Oct, 2020</p>
<p>2 PM-5PM</td>
<td width="156">Dr. Mohammad Wazid</td>
<td width="124">8886789560</td>
</tr>
<tr>
<td width="31">13.</td>
<td width="194">Design and Analysis of Algorithms Lab (PCS505)</td>
<td width="76">CSE,IT</td>
<td width="168">17 Oct, 2020</p>
<p>10AM-1PM</td>
<td width="156">Mr. Prabhjot Singh</td>
<td width="124">7755057882</td>
</tr>
<tr>
<td width="31">14.</td>
<td width="194">Java Programming Lab (PIT508)</td>
<td width="76">IT</td>
<td width="168">17 Oct, 2020</p>
<p>2PM-5PM</td>
<td width="156">Dr. Vishan Kumar</td>
<td width="124">9650405854</td>
</tr>
<tr>
<td width="31">15.</td>
<td width="194">Mini project (ITP501)</td>
<td width="76">IT</td>
<td width="168">Deadline 15 Oct, 2020, 5 PM</td>
<td width="156">Mr. Piyush Agarwal</td>
<td width="124">piyush221292 AT gmail.com</td>
</tr>
<tr>
<td width="31">16.</td>
<td width="194">OOAD &amp; Computer Networks Lab (PCS707)</td>
<td width="76">CSE</td>
<td width="168">17 Oct, 2020</p>
<p>2 PM-5PM</td>
<td width="156">Mr. Sumit Pundir</td>
<td width="124">9997219039</td>
</tr>
<tr>
<td width="31">17.</td>
<td width="194">Project (Phase-I) (CSP701)</td>
<td width="76">CSE</td>
<td width="168">Deadline 14 Oct, 2020, 5 PM</td>
<td colspan="2" width="280">Mail Document to: indialor AT gmail.com</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2306 -->

</div>

<%-include("../partials/footer")%>