<%-include("../partials/header") %>
<div class="transbox">
<article id="post-2300" class="post-2300 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Do’s and Don’ts for Students for appearing for MID- Semester Exams on Exam Portal (Moodle)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-09-12T21:24:42+05:30">September 12, 2020</time></a></span> <span class="byline"><span class="author vcard"><a   rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/09/GEU-EXAM-INSTRUCTION-_-MID-SEM-SEP.pdf">GEU &#8211; EXAM INSTRUCTION _ MID SEM &#8211; SEP</a></p>
	</div><!-- .entry-content -->
	
</article><!-- #post-2300 -->

<article id="post-2298" class="post-2298 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Departmental Nodal Team for Examinations</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a rel="bookmark"><time class="entry-date" datetime="2020-09-12T13:08:45+05:30">September 12, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Departmental Nodal Team for Examinations</u></strong></p>
<p>The mid term exams 2020 for 3rd and 5th semester students are commencing on 14th September, 2020 as per schedule already displayed. You must have already received the rules and regulations regarding the exam modalities from your class coordinators. If you have any question regarding the modalities you should contact on any of the number given in the rules and regulations document.</p>
<p>The Department has constituted the following Nodal Team to look into any last-minute problem arising on the days of exam. You may contact any of the following members if you encounter any significant issues. However, keep in mind that you should contact the committee member(s) only if your issue remains unresolved by contacting any of the grievance handling numbers in the Rules and Regulations document.</p>
<p>&nbsp;</p>
<p><strong>CSIT Nodal Committee for Exam Related Issues:</strong></p>
<ol>
<li>Ankur Choudhary (Nodal Officer)-9760316521</li>
<li>Sumit Pundir (Member)-9997219039</li>
<li>Parul Madan (Member)-9557840852</li>
<li>Hemant Pokhriya (Member) -9634749537</li>
<li>Noor Mohd. (Member) -9897404423</li>
</ol>
<p><strong>You may contact the specific subject Nodal Facilitator for issues arising of the particular subject:</strong></p>
<ol>
<li>Logic Design-Hemant Pokhriya(9634749537)</li>
<li>OOPS with C++: Ashwini Kumar(9999248007)(9999022385)</li>
<li>Fundamentals of Cloud Computing and Bigdata: Dr Preeti Mishra(8218061127)</li>
<li>Fundamentals of Cyber Security: Dr. Mohd Wazid(8886789560)</li>
<li>Fundamentals of IoT: Dr. Sourabh Jain(9837629011)</li>
<li>Discrete Structures and Combinatorics: Manish Mahajan(9953320255)</li>
<li>Fundamentals of Data Science: Vikas Tomer(7060734224)</li>
<li>Fundamentals of Machine Learning: Akshay Rajput(8076310017)</li>
<li>Software Engg Fundamentals: Neha Garg (9897738782)</li>
<li>Introduction to Web Technology: Manish Sharma(9634432297)</li>
<li>Data Structures: Upendra Aswal(9410712790)</li>
<li>System Software: Piyush Agarwal(7829983490)</li>
<li>Operating Systems: Prabhjot Singh(7755057882)</li>
<li>DBMS: Ankur Choudhary(9760316521)</li>
<li>Software Engg: Garima(9958177157)</li>
<li>Machine Learning: Dr. Rahul Nijhawan(7900283321)(8791758262)</li>
<li>Computer System Security: Dr. Mohd Wazid(8886789560)</li>
<li>Cloud Based App Development: Dr. Sachin Sharma(8319682981)</li>
<li>Bigdata Storage and Processing: Garima(9958177157)</li>
<li>Hadoop Fundamentals: Dr. Vijay SIngh(9760322316)</li>
<li>SCALA Programming: Garima(9958177157)</li>
<li>Data Science: Dr. Vikas Tripathi(9634596042)</li>
<li>Virtualization and Cloud Computing: Dr. Preeti Mishra(8218061127)</li>
<li>Mobile Application Development: Manish Sharma(9634432297)</li>
<li>Artificial Intelligence: Dr. Vikas Tripathi(9634596042)</li>
<li>Design and Analysis of Algorithms: Ankit Tomar(9917200087)</li>
<li>Software Engg: Garima(9958177157)</li>
<li>Java: Priyank Pandey(9560950771)</li>
</ol>
	</div><!-- .entry-content -->
	
</article><!-- #post-2298 -->



<article id="post-2296" class="post-2296 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mini Project Notice for 3rd Semester Students CE,CST and CE&#038;CSE Specializations</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-09-09T21:15:04+05:30">September 9, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Mini Project Notice for 3rd Semester Students CE,CST and CE&amp;CSE Specializations</u></strong></p>
<p>The following lists mini-project topics for the students of BTech-CSE(All Specializations) &amp; CE(Software Engineering) 3rd semester. Along with the project list, name(s) of faculty members are given who would act as the resource person for the topic. Note that you are required to understand, study and implement the topic on your own. The Resource person may only be contacted if you need advice on things like dataset, suitable tools etc. Resource persons will NOT advice you in any way in the coding part, they will also NOT evaluate your projects.</p>
<p>For CSE Core students there is a separate notice.</p>
<p>Mini Projects will be done individually. No group work is allowed.</p>
<p>Expected Evaluation Date: First week of November. Exact dates of evaluation will be subsequently notified.</p>
<p>Evaluation Panel(s): Will be notified</p>
<table border="1">
<tbody>
<tr>
<td width="312">Specialization</td>
<td width="312">List of Topics</td>
</tr>
<tr>
<td width="312">Computer Engineering (CE)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3CEmp.pdf">Click Here</a></td>
</tr>
<tr>
<td width="312">CE(Software Engineering)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3SEmp.pdf">Click Here</a></td>
</tr>
<tr>
<td width="312">Computer Science and Technology (CST)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3CSTmp.pdf">Click Here</a></td>
</tr>
<tr>
<td width="312">CSE(Cloud Computing)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3CCmp.pdf">Click Here</a></td>
</tr>
<tr>
<td width="312">CSE(Data Science)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3DSmp.pdf">Click Here</a></td>
</tr>
<tr>
<td width="312">CSE(Machine Learning)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3MLmp.pdf">Click Here</a></td>
</tr>
<tr>
<td width="312">CSE(Cyber Security)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3Cybermp.pdf">Click Here</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
</article><!-- #post-2296 -->

<article id="post-2294" class="post-2294 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mini Project Notice for 3rd Semester Students (CSE-Core and IT)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-09-09T21:14:06+05:30">September 9, 2020</time></a></span> <span class="byline"><span class="author vcard"><a   rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><strong><u>Mini Project Notice for 3rd Semester Students (CSE-Core and IT)</u></strong></p>
<p>The following lists mini-project topics for the students of BTech-CSE(Core) and BTech (IT), 3rd semester. You are required to understand, study and implement projects from the given list, on your own.</p>
<p>Two Lists are provided.</p>
<p>If you select List 1: You have to select TWO topics from the list</p>
<p>If you select List2: You have to select ONE topic from the list</p>
<p>The facilitators for the projects in List1 are faculty members of the CEC cell. The facilitators for the projects in List2 are mentioned in the list itself. However, note that you may only contact the facilitators if and only if you need advice on things like dataset, suitable tools etc. Faculty members will NOT advice you in any way in the coding part, they will also NOT evaluate your projects.</p>
<p>For specializations students and CE,CST students there is a separate notice.</p>
<p>Mini Projects will be done individually. No group work is allowed.</p>
<p>Expected Evaluation Date: First week of November. Exact dates of evaluation will be subsequently notified.</p>
<p>Evaluation Panel(s): Will be notified</p>
<table border="1">
<tbody>
<tr>
<td width="312">List1 (select 2 topics)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3CSL1.pdf">Click Here</a></td>
</tr>
<tr>
<td width="312">List2 (select 1 topic)</td>
<td width="312"><a href="http://csitgeu.in/wp/mps2020/3CSL2.pdf">Click Here</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</div><!-- .entry-content -->
	
</article><!-- #post-2294 -->

<article id="post-2290" class="post-2290 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mini Project Notice for 5th Semester Students (CSE-IBM Specializations)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-09-02T21:28:36+05:30">September 2, 2020</time></a></span> <span class="byline"><span class="author vcard"><a  rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/09/mp5_2020_ibmcs.html"><b><u>Mini Project Notice for 5<sup>th</sup> Semester Students (CSE-IBM Specializations)</u></b></a></p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2290 -->


<article id="post-2286" class="post-2286 post type-post status-publish format-standard hentry category-latest">
	
	<header class="entry-header">
			<h1 class="entry-title"><a rel="bookmark">Mini Project Notice for 5th Semester Students (CSE-Core and IT)</a></h1>
		<div class="entry-meta">
			<span class="entry-date"><a  rel="bookmark"><time class="entry-date" datetime="2020-09-02T21:27:23+05:30">September 2, 2020</time></a></span> <span class="byline"><span class="author vcard"><a rel="author">admin</a></span></span>		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

		<div class="entry-content">
		<p><a href="http://csitgeu.in/wp/wp-content/uploads/2020/09/mp5_2020_csit.html"><b><u>Mini Project Notice for 5</u><sup>th</sup><u> Semester Students (CSE-Core and IT)</u></b></a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->
	
	</article><!-- #post-2286 -->
</div>
<%-include("../partials/footer")%>